[2014-04-26 15:12] lucaswerkmeister opened #1 "General interface"
The `ceylon.ast` classes and functions expose two levels of changes from the original ANTLR-generated AST interface.
# Joining variables

Several attributes of the Java class may be represented by a single attribute in the Ceylon class (with a union type).

For example, a `FunctionArgument` has either a block (`{ return expression; }`) or an expression (`=> expression;`). In ANTLR, that looks like

[2014-04-26 15:18] lucaswerkmeister opened #2 "Mutability?"
Should the AST attributes be `variable` and/or `default`? I feel like for the intended purpose, they don’t need to be; on the other hand, making them `final` doesn’t really gain us anything, as you still can plug in your own class extending `Tree.Node`, which can be as mutable as it wants to be.

[2014-04-26 15:19] lucaswerkmeister opened #3 "Issue labels"
GitHub’s defaults:
- bug
- duplicate
- enhancement
- help wanted
- invalid
- question
- wontfix

I feel like better labels are possible.

[2014-05-01 10:44] lucaswerkmeister opened #5 "Where do the tokens come from?"
The AST needs valid tokens so the formatter can write it correctly. “Valid” means that the tokens’ index must also be in correct order for lucaswerkmeister/ceylon.formatter@957dc05. But how do we get a correct order of the tokens?

I originally thought that there would be a global `tokenFactory` object with a `nextToken(String text)` method that just counted up the token index, and that the nodes’

[2014-05-01 10:55] lucaswerkmeister opened #6 "Inheritance"
In Java, the type hierarchy of `Block` looks like this:

[code]

In Ceylon, conceptually, I’d like it to look like this:

[code]

However, this requires multiple inheritance, which we don’t have. Where do we make the cut?

[2014-05-01 16:20] #3 closed, assigned to nobody

[2014-05-01 18:53] lucaswerkmeister opened #7 "Modules"
As discussed in #6, the main AST will be independent from the Ceylon compiler / ANTLR AST. If we put the Ceylon AST and the visitor that translates it to a Java AST into different modules, then the Ceylon AST can be written in pure Ceylon, which means it can be used for all backends, and thus is much more useful for other modules (for example, someone already [asked](https://groups.google.com/foru

[2014-05-02 10:06] lucaswerkmeister opened #8 "Typesafe expressions"
A part of the AST types – `Expression` and its subtypes – could be used by APIs to pass around “expression trees”, for example for ceylon/ceylon-spec#906. (There is some discussion about this [on the mailing list](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/ceylon-users/qdz06SGdHt4/HHYhf6wHbcYJ), but I’m not sure I’m understanding everything correctly.) As in Ceylon, e

[2014-05-03 14:26] lucaswerkmeister opened #9 "Tracking issue"
I want to make sure that I don’t forget to implement any AST nodes, so here’s a giant task list with all of them:
- [x] `AbstractedType` – not in `ceylon.ast`, not yet supported
- [x] `AddAssignOp` – called `AddAssignmentOperation` in `ceylon.ast`
- [x] `Alias` – split into `Alias` (abstract), `FunctionValueAlias` and `TypeAlias` in `ceylon.ast`
- [x] `AliasLiteral` – called `AliasDec` in `ceylon.

[2014-05-03 15:07] #7 closed, assigned to nobody

[2014-05-04 09:28] lucaswerkmeister opened #10 "UTF-8 source code?"
I usually use some extended Unicode characters in documentation, for example the “true double quotes” instead of the "typewriter double quotes", the true apostrophe `’` instead of the typewriter apostrophe `'`, the en dash `–` instead of the hyphen `-`, and occasionally the no-break space (in abbreviations like e. g.). I hope that’s not a problem for anyone?

[2014-05-04 15:57] lucaswerkmeister opened #11 "Numeric literals"
[Numeric literals](http://ceylon-lang.org/documentation/1.0/spec/html_single/#numericliterals) are a bit complicated, and I’m not sure how they should be represented.
## Approach 1: Duplicate the entire grammar from the spec

For example, the rule

[code]

_could_ be represented through something like

[code]

**Advantages:** You have the entire tree if you need it. (I feel like that’s _some_ adva

[2014-05-05 09:18] #2 closed, assigned to nobody

[2014-05-07 13:31] lucaswerkmeister opened #12 "string: expression/serializer?"
I think it would be neat if every `Node.string` returned a Ceylon expression that evaluated to a copy of the node – that is, `string` would be a serializer (with ceylon/ceylon-sdk#125 as the deserializer).

For example:

[code]

[2014-05-07 18:22] lucaswerkmeister opened #13 "Expression and type grouping – () and <>"
In Ceylon, there are two kinds of syntactical grouping:

[code]

(I made up the names, but that doesn’t matter right now.)

In the Ceylon compiler, these are handled differently:
- For expression grouping, there’s the rule and class [`expression`](https://github.com/ceylon/ceylon-spec/blob/d467d079d96b313c17b37c639b0ded58df662181/Ceylon.g#L1203), which is a wrapper around a `Term` with optional pa

[2014-05-08 12:25] lucaswerkmeister opened #14 "compile functions: AST or Grammar?"
There isn’t a one-to-one relation between the Ceylon ANTLR grammar and the Ceylon AST; for example, there are seven rules that return an `Identifier`. Should the `compileX()` backend functions correspond to grammar rules or to AST nodes? In other words, should we have `compileIdentifier()` or `compileImportName()`?

[2014-05-10 10:20] lucaswerkmeister opened #15 "Modifying the AST with visitors"
In #2, we decided to make the AST immutable. However, we severely limit the module’s usefulness if we don’t provide some way to obtain a modified copy of an AST.

At the moment, AST nodes have a `copy` method, whose parameters are the same as those of the class itself and default to these values, allowing you to change only a single parameter in the copy without having to specify the others. Howev

[2014-05-12 17:04] lucaswerkmeister opened #16 "Project / Module layout"
I’ve been told on IRC that the current layout – `{,test.}ceylon.ast{,.redhat}` (bash brace expansion), all in different source folders and all in one IDE project – is utterly wrong, and that the tools _should_ all forbid it (even though it works fine right now). So I’ll have to come up with a better one.

[2014-05-16 09:00] #6 closed, assigned to nobody

[2014-05-17 18:51] #14 closed, assigned to nobody

[2014-05-18 13:59] #12 closed, assigned to nobody

[2014-05-21 20:12] lucaswerkmeister opened #17 "Attaching additional information to the AST"
I wonder if it would be useful to provide a place in the AST nodes where other tools / modules / programs can attach additional information. For example:

[code]

For example, a Ceylon compiler modeled after the current one might use

[code]

With ceylon/ceylon-spec#594, we could even have:

[code]

With this, you could make `extraInfo` non-optional as long as you provide a valid initial value.

[2014-05-22 14:22] lucaswerkmeister opened #18 "A modifying visitor to add grouping"
Regardless of how #13 is solved, the user will always be able to create a

[code]

which would be formatted to `1 + 2 * 3` with the meaning `1 + (2 * 3)` even though the original meaning is `(1 + 2) * 3`. The grouping is present only in the node hierarchy, and therefore lost when formatting.

We should provide some `autoParenModifyingVisitor` and `autoGroupingModifyingVisitor` (or whatever it’s ca

[2014-05-26 13:51] #15 closed, assigned to nobody

[2014-05-27 08:30] lucaswerkmeister opened #19 "Sugaring"
(Moving the discussion here from #1.)

Being able to pass
- a `String` instead of an `Identifier`
- an `Integer` instead of a `NaturalLiteral`
- etc.

is useful.

However, I don’t think there’s a good way to accommodate the sugar in the class. Since the type of the original attribute is invariant, we can’t change `Identifier` to `Identifier|String`. We could declare some sort of `Identifier|String

[2014-05-27 08:31] #1 closed, assigned to nobody

[2014-05-27 21:59] #11 closed, assigned to nobody

[2014-05-29 12:24] lucaswerkmeister opened #20 "Evaluating Character and String literals"
`CharacterLiteral` and `StringLiteral` will, just like `IntegerLiteral` and `FloatLiteral`, be wrappers around a `String text`. Conversion with the RedHat AST should be straightforward.

One question remaining is if we add aditional functionality to them to get their “meaning”. `IntegerLiteral` and `FloatLiteral` offer `integer` and `float` respecively to get the represented value (and as that val

[2014-05-29 14:50] lucaswerkmeister opened #21 "String literals"
Ceylon has two types of string literals: regular and verbatim ones. (Verbatim strings are delimited by three quotes and contain no escape sequences.)
I see two ways in which we could represent these in `ceylon.ast`:
1. One `StringLiteral` class where the `text` includes the quotes. This is what the compiler does, but it’s inconsistent with at least the current version of `Character` where `text` d

[2014-05-29 21:06] lucaswerkmeister opened #22 "QuotedLiteral"
The Ceylon compiler has an additional literal type: `QuotedLiteral`. A `QuotedLiteral` is used for module versions; even though the spec no longer allows it and the compiler will make it erroneous (ceylon/ceylon-spec#723), the grammar still allows you to surround the version numbers with single quotes instead of double quotes.

I really don’t think we have to add these to `ceylon.ast`. @gavinking

[2014-05-30 14:51] #22 closed, assigned to nobody

[2014-05-30 14:53] #21 closed, assigned to nobody

[2014-06-01 11:08] lucaswerkmeister opened #23 "Equality of types"
Should our `Type.equals` respect Ceylon’s rules of type equality?

For example:
- `UnionType(x, y) == UnionType(y, x)`? (Same for `IntersectionType`)
- `UnionType(UnionType(x, y), z) == UnionType(x, UnionType(y, z))`? (We could disambiguate this by disallowing the second variant via #13.)
- `IntersectionType(x, UnionType(y, z)) == UnionType(IntersectionType(x, y), IntersectionType(x, z))`?
- `Opti

[2014-06-01 16:26] #23 closed, assigned to nobody

[2014-06-05 16:26] lucaswerkmeister opened #24 "Move ceylonExpression to a Visitor?"
We currently have the method `getCeylonExpression()` for `Node`s (used by `string`). After some reflection, it seems to me that that’s completely wrong; there should be a `CeylonExpressionVisitor` class, and `string` should use that.

Should we remove `getCeylonExpression()`, and make it a `Visitor` instead?
- **Yes**, because it’s an arbitrary operation that doesn’t belong in `Node`
- **No**, bec

[2014-06-06 09:59] #24 closed, assigned to nobody

[2014-06-10 09:50] #18 closed, assigned to nobody

[2014-06-10 10:02] lucaswerkmeister opened #25 "Transforming the AST with visitors"
A more generic approach to #15:

[code]

For example, the `CeylonExpressionVisitor` (#24) will be a `Transformer<String>`, and instead of maintaining an internal `StringBuilder`, it can use string interpolation because `child.visit(this)` actually returns something. The backend conversion functions can also be packed into a `Transformer<JNode>`. `Editor` extends `Transformer<Node>`, but also overr

[2014-06-10 10:26] lucaswerkmeister opened #26 "Make the Visitor et al. classes interfaces"
This one’s a no-brainer. They hold no state, why are they abstract classes instead of interfaces?

[2014-06-12 22:07] lucaswerkmeister opened #27 "[JIdentifier, JTypeArgumentList] → BaseType?"
In d821b7a, I used `[JIdentifier, JTypeArgumentList]` as the corresponding type for `TypeNameWithArguments`, as that’s what the grammar rule returns. However, in `typeToCeylon`, I needed a single subtype of `JType` instead. The only two uses of `typeNameWithArguments` in the grammar seem to stuff the identifier + type argument list into a `BaseType`, which apparently isn’t used for anything else e

[2014-06-18 06:40] lucaswerkmeister opened #28 "Make Visitor, Editor interfaces"
I just removed the abstract annotation from Visitor, Editor in 2c7baa3. I need to add it again before the first release.

[2014-06-18 13:21] lucaswerkmeister opened #29 "Put everything in one source folder?"
I’m not sure what the benefits are of having four separate source folders `{,test-}{source,backends}`. Now that the module names are prefix-free, we could just put them all in one source folder. This would simplify the compilation process (the common case would then be `ceylon compile` instead of `ceylon compile {,test-}{source,backends}`) and simplify navigation in the IDE.

[2014-06-19 10:08] #26 closed, assigned to lucaswerkmeister

[2014-06-19 15:16] #25 closed, assigned to nobody

[2014-06-19 21:10] #29 closed, assigned to lucaswerkmeister

[2014-06-20 18:05] #27 closed, assigned to lucaswerkmeister

[2014-06-21 13:57] lucaswerkmeister opened #30 "IntersectionType, UnionType design"
I’m almost done with the `Type` sub-hierarchy, but I hit one question:

In #13, I proposed to have

But now I’m wondering if it wouldn’t be better to have
`IntersectionType(PrimaryType* types)`
as both the spec and the compiler have it.

If yes, should we guarantee having at least two types with `IntersectionType(PrimaryType t1, PrimaryType t2, PrimaryType* restTypes)` or `IntersectionType(Primary

[2014-06-22 16:09] #30 closed, assigned to nobody

[2014-06-24 16:13] #16 closed, assigned to lucaswerkmeister

[2014-06-25 06:24] lucaswerkmeister opened #31 "ant buildfile"
It would be useful to have an ant buildfile; I should be able to adapt the one for ceylon.formatter.

[2014-06-25 18:38] lucaswerkmeister opened #32 "Should the operators be nodes?"
The compiler AST has things like `EqualOp`, `NotEqualOp`, `MemberOp`, `LargerOp`, etc. as nodes. I don’t think that’s necessary; I think I’d rather go with `abstract class EqualityExpression(left, right) of EqualExpression|NotEqualExpression|IdenticalExpression`. Any comments?

[2014-06-28 13:42] #32 closed, assigned to nobody

[2014-06-28 13:43] #5 closed, assigned to nobody

[2014-06-28 13:44] #10 closed, assigned to nobody

[2014-06-28 19:31] #31 closed, assigned to nobody

[2014-06-29 13:58] lucaswerkmeister opened #33 "Base and qualified expressions"
The spec contains the following kinds of `Primary`:

[code]

To _parse_ the language, `StaticExpression` is actually unnecessary, since the static expression `String.size` can also be parsed as a member expression with a base expression as the receiver expression. (The spec imposes restrictions on the receiver expression of member expressions to resolve this ambiguity.)
The compiler AST has no spe

[2014-06-29 20:29] #33 closed, assigned to lucaswerkmeister

[2014-06-30 11:16] lucaswerkmeister opened #34 "Meta literals / Metamodel and Reference Expressions"
The spec has this hierarchy for what I’ll loosely call “metamodel stuff”:
- `Meta` (§6.10)
  - `TypeMeta`
  - `BaseMeta`
  - `MemberMeta`
- `Dec` (§6.11)
  - `TypeDec`
  - `MemberDec`
  - `PackageDec`
  - `ModuleDec`

As you can see, the expressions ``String`` (a `TypeMeta`) and ``class String`` (a `TypeDec`) have nothing in common.

The Ceylon compiler, on the other hand, has this hierarchy:
- `M

[2014-07-01 14:59] lucaswerkmeister opened #35 "Inheritance, default members, initializer parameters"
I’ve ran into this problem a few times now, and I’d like to know the correct solution:

[code]

Basically, in `AbstractThing` I already know that I don’t want arbitrary `Node`s as `children`, but `ConcreteThing`s should still be able to narrow the type even further.

The problem with this is that in the above code, the `extends Node(children)` part isn’t legal, because

I understand why this restr

[2014-07-01 19:40] #35 closed, assigned to nobody

[2014-07-01 21:35] lucaswerkmeister opened #36 "Improve tests"
There should be a test for every abstract type as well (mainly to test that I didn’t forget case types in the RedHat AST – I don’t have the type safety of enumerated types there!), and we also could probably often reuse code + nodes between different nodes (for example: type samples can be used to test `Type` and `TypeMeta`).

[2014-07-08 22:23] #36 closed, assigned to lucaswerkmeister

[2014-07-12 10:37] lucaswerkmeister opened #37 "Tests in separate commits?"
In `CONTRIBUTING.md`, I instruct people to

At the moment, I’m doing an absolutely shitty job at this – _all_ my recent test additions are for new nodes, and happen in the same commit as the addition of the node itself.

I should decide if I want to continue doing this (and update `CONTRIBUTING.md` accordingly), or if I want to commit them separately.

[2014-07-13 11:45] #37 closed, assigned to lucaswerkmeister

[2014-07-14 23:34] lucaswerkmeister opened #38 "Design of “within / bounded comparison operator” (a < b < c)"
I’m wondering how the “within” or “bounded comparison” operator (for `a < b < c`) should be designed.

In the RedHat compiler AST, you have a `class WithinOp(Term, Bound lowerBound, Bound upperBound)` with `class Bound(Term) of OpenBound|ClosedBound`. For example, the expression `a <= b < c` is a `WithinOp { b; lowerBound = ClosedBound(a); upperBound = OpenBound(c); }`.

There’s several things I d

[2014-07-16 17:15] lucaswerkmeister opened #39 "Test CeylonExpressionTransformer"
I need to test `CeylonExpressionTransformer` before the initial release. I already know that many of the binary operations’ named arguments are wrong because of the workaround for ceylon/ceylon-compiler#1728 (which in many cases I turned into a feature by adding attributes with better names, like `subtrahend` and `minuend` for `DifferenceExpression`).

[2014-07-19 08:47] lucaswerkmeister opened #40 "Should the identifiers 'foo' and '\ifoo' be considered equal?"
Consider the following two identifiers:

[code]

At the moment, these are considered to be equal; `Identifier.equals` tests only the `name`, not the `enforcePrefix` attribute.

I’m not sure if that’s the right thing to do. It’s semantically correct, but `ceylon.ast` shouldn’t care about semantics, only syntax. For example, the AST nodes for the types `A|B` and `B|A` are considered different even t

[2014-07-20 10:44] lucaswerkmeister opened #41 "String template design"
I’d like to design `StringTemplate` in a way that guarantees that you have the exact right amount of literals + expressions.

There are a couple of ways that this could be achieved:
### Typesafe
- `StringLiteral first, [[Expression,StringLiteral]+] trailing`
- `[[Expression,StringLiteral]+] leading, StringLiteral last`
- possibly either of those, but with entries instead of binary tuples
### Via a

[2014-07-20 12:17] lucaswerkmeister opened #42 "Editor doesn’t do a deep copy"
The source-gen code for `Editor` doesn’t `copy()` the children. I need to
- [x] fix the existing copy methods, and
- [x] update source-gen to copy the children (producing bad code for complex cases like sequential child types – which is better because it forces me to fix it manually)

[2014-07-20 15:17] #42 closed, assigned to lucaswerkmeister

[2014-07-20 21:39] lucaswerkmeister opened #43 "Compiler annotations?"
Do we want to support compiler annotations (`@error`, `@noanno`, `@type`)?

[2014-07-23 09:59] lucaswerkmeister opened #44 "Parameter lists: Order of parameters"
The spec grammar for parameter lists is ambiguous (in `(foo)`, `foo` can be a `Required` or a `Variadic`), and therefore parameter lists shouldn’t be represented as `Parameters(RequiredParameter[] required, DefaultedParemeter[] defaulted, VariadicParameter|ParameterReference variadic)` in `ceylon.ast` (because, for example, we can’t convert a RedHat AST `ParameterList` without a way to resolve thi

[2014-07-23 21:30] #44 closed, assigned to nobody

[2014-07-25 19:57] #38 closed, assigned to lucaswerkmeister

[2014-07-26 19:30] #17 closed, assigned to lucaswerkmeister

[2014-07-28 16:33] lucaswerkmeister opened #45 "Use-site variance"
1. Will we support it in the initial version? It’s “experimental” in Ceylon 1.1, and not specified.
2. How should it look in the AST? The compiler AST attaches the variance to the type argument (see ceylon/ceylon-spec@dd9ab183fab8e51c7277b8cc8e3300503de0d0b2), but it seems more natural to me to have a `class TypeArgument(Type argument, Variance? variance = null)`. (This would be very similar to a

[2014-07-28 20:13] lucaswerkmeister opened #46 "Declarations"
My current plan for the `Declaration` type hierarchy (pseudo syntax):
- [x] `Declaration(Identifier, Annotations)`
  - [x] `TypeDeclaration(UIdentifier, TypeParameters?, TypeConstraint[])`
    - [x] `ClassOrInterface(CaseTypes?, SatisfiedTypes?)`
      - [x] `AnyClass(Parameters, ExtendedType?)`
        - [x] `ClassDefinition(ClassBody)`
        - [x] `ClassAlias(ClassSpecifier)`
      - [x] `AnyI

[2014-07-29 15:33] lucaswerkmeister opened #47 "Attach information to nodes converted from ceylon.ast.redhat"
Now that our interface for attaching additional information to the AST is much more sophisticated (see #17), I wonder if we should attach the ANTLR tokens from the RedHat AST to the Ceylon AST nodes when converting it. The key type would be `Token[]`.

[2014-07-29 15:49] lucaswerkmeister opened #48 "Name of Specifier?"
The hierarchy of `= expression`, `=> expression` is currently:
- `AnySpecifier` (abstract)
  - `Specifier` (`= expression`)
  - `LazySpecifier` (`=> expression`)

I feel like `Specifier` should be the name of the abstract superclass, but I can’t seem to find a good name for the non-lazy specifier then. Thoughts?

[2014-07-31 17:32] lucaswerkmeister opened #49 "Two NarrowingVisitor variants?"
Currently, `NarrowingVisitor` narrows “cascadingly”: For example, `transformNode(someLIdentifier)` goes `Node` → `ExpressionIsh` → `Identifier` → `LIdentifier`. I wonder if it would be better to have the following hierarchy instead:
- `NarrowingTransformer` abstract, of:
  - `CascadingNarrowingTransformer`
  - `ImmediateNarrowingTransformer`

where `CascadingNarrowingTransformer` is basically the

[2014-08-01 16:04] lucaswerkmeister opened #50 "Should TypeArguments and TypeParameters be actual nodes?"
At the moment, we have

[code]

I wonder if we should add proper `TypeArguments` and `TypeParameters` nodes.

We _definitely_ need to do this if we decide to do #47, because then we need a place to attach the tokens to.

[2014-08-02 17:51] #50 closed, assigned to nobody

[2014-08-02 17:58] lucaswerkmeister opened #51 "ceylon.ast.util?"
In #47 I considered having a `ceylon.ast.util` module with several utility visitors and editors, and I wanted to have an independent issue for that.

Ideas for what’s in there:
- `RemoveExtraInfoVisitor(Key+ keys)`, removes the additional information attached to the node and its children with these keys (from #47)
- to be continued – not worth it for just one class :)

[2014-08-03 10:17] lucaswerkmeister opened #52 "Support for Type[length]"
We need to support ceylon/ceylon-spec#1041.

I’ll probably wait until it’s properly specified though.

[2014-08-09 13:54] lucaswerkmeister opened #53 "compilation units"
The following approach would seem natural, I think:
- `CompilationUnit`
  - `RegularCompilationUnit`, or perhaps `CodeCompilationUnit`?
  - `ModuleCompilationUnit`
  - `PackageCompilationUnit`

However, since regular compilation unit is probably going to be the most used type by far, and it’s also probably what most people think of when they hear “compilation unit”, I’m considering something like

[2014-08-09 22:46] #53 closed, assigned to lucaswerkmeister

[2014-08-10 09:57] lucaswerkmeister opened #54 "Expression statements"
Since the `ceylon.ast` AST should be unambigous, I’d make `ExpressionStatement`’s `Expression` have the type `ArithmeticAssignmentOperation | SetAssignmentOperation | LogicalAssignmentOperation | PrefixOperation | PostfixOperation | Invocation`; that is, instead of `AssignmentOperation`, have “`AssignmentOperation ∖ AssignOperation`” (that’s a set minus), which (as Ceylon doesn’t have complement t

[2014-08-10 15:08] #54 closed, assigned to lucaswerkmeister

[2014-08-10 22:32] #41 closed, assigned to lucaswerkmeister

[2014-08-15 16:55] lucaswerkmeister opened #55 "Should we have several classes for value setter definitions?"
We could have either
- `ValueSetterDefinition(LIdentifier name, Block|LazySpecifier definition, Annotations annotations)`

or something like
- `AnyValueSetterDefinition(Block|LazySpecifier definition)` (abstract)
  - `ValueSetterDefinition(LIdentifier name, Block definition, Annotations annotations)`
  - `ValueSetterShortcutDefinition(LIdentifier name, LazySpecifier definition, Annotations annotat

[2014-08-16 12:57] lucaswerkmeister opened #56 "Type aliases"
- [x] class aliases
- [x] interface aliases
- [x] type aliases

Open question: how do we call these?
- `ClassAlias`,
- `ClassAliasDeclaration`, or
- `ClassAliasDefinition`

The advantage of the longer names is that they avoid potential confusion with import aliases (see also #46). However, I’m not sure if they’re declarations or definitions. Both the spec and the RedHat AST refer to them as declar

[2014-08-22 05:57] lucaswerkmeister opened #57 "Interfaces"
I thought I’d open a dedicated issue for the question of how to represent interfaces, more specifically, the distinction between regular and dynamic ones.
1. `Boolean isDynamic`? But nodes should normally be distinguished by their children only (with the obvious exception of literals and identifiers), Booleans are ugly.
2. `InterfaceModifier|DynamicModifier`? But ‘`interface`’ isn’t a regular modi

[2014-08-23 19:52] lucaswerkmeister opened #58 "Different member operators"
How do we represent the different member operators `.`, `?.`, `*.`? Probably through a child of `QualifiedExpression`, but I need to check if we use `QualifiedExpression` anywhere where only the regular member operator is allowed.

[2014-08-28 20:53] lucaswerkmeister opened #59 "ConditionList → Conditions?"
We have several “collection” nodes, and some of them are called `ThingList`, while others are called `Things`. In my understanding, the rule of thumb to decide which to use was: If it’s a “complete” element, with surrounding tokens (if appropriate), then it’s a `Things` – e. g., `PositionalArguments` and `NamedArguments` include the surrounding parentheses / braces. On the other hand, if the surro

[2014-08-30 09:44] lucaswerkmeister opened #60 "Index and range expressions"
Discussion about the design of the nodes for `correspondence[index]`, `ranged[start..end]`, `ranged[start:size]`, `ranged[start...]`, and `ranged[...end]`.

[2014-08-30 18:37] #60 closed, assigned to lucaswerkmeister

[2014-08-31 09:40] #59 closed, assigned to nobody

[2014-08-31 10:23] lucaswerkmeister opened #61 "Switch statements"
Current plan for ‘`switch`’ statements:
- [x] `SwitchCaseElse(SwitchClause, SwitchCases)`
- [x] `SwitchClause(Expression)`
- [x] `SwitchCases([CaseClause+], ElseCaseClause?)`
- [x] `CaseClause(CaseItem, Block)`
- [x] `ElseCaseClause(Block)`
- [x] `CaseItem`
  - [x] `MatchCase([<IntegerLiteral|CharacterLiteral|StringLiteral|NegationOperation|BaseExpression>+])` (with an assertion that the operand o

[2014-08-31 16:03] #61 closed, assigned to lucaswerkmeister

[2014-09-02 21:35] #58 closed, assigned to lucaswerkmeister

[2014-09-03 21:12] #57 closed, assigned to lucaswerkmeister

[2014-09-04 21:31] lucaswerkmeister opened #62 "Identifier prefix redesign"
Currently, `Identifier` has two attributes related to the `\i`/`\I` prefix:
- the initializer parameter `enforcePrefix`, and
- the computed attribute `usePrefix => enforcePrefix || caseMismatch || name in keywords`.

These are partially redundant, and it’s impossible to recover the `enforcePrefix` parameter if the name require the prefix anyways (as I found out when I investigated the RedHat AST c

[2014-09-05 15:40] #62 closed, assigned to lucaswerkmeister

[2014-09-07 21:09] #51 closed, assigned to nobody

[2014-09-24 15:24] #43 closed, assigned to nobody

[2014-09-25 21:33] lucaswerkmeister opened #63 "Documentation"
- [x] `RedHatTransformer` has no documentation _at all_!
- [x] `Expression` has an ancient “TODO document the hierarchy as soon as some of it’s there” – it’s complete now, still no documentation
- [x] `test.ceylon.ast.redhat` should get an explanation of how the test framework works, it’s probably difficult to get just by looking at it (“where are the test methods?”)
- to be continued

[2014-09-25 21:46] #46 closed, assigned to lucaswerkmeister

[2014-09-25 21:47] #56 closed, assigned to lucaswerkmeister

[2014-09-25 21:54] #28 closed, assigned to lucaswerkmeister

[2014-09-26 14:44] #40 closed, assigned to nobody

[2014-09-26 15:32] #9 closed, assigned to lucaswerkmeister

[2014-09-27 16:12] #13 closed, assigned to nobody

[2014-09-27 17:22] #63 closed, assigned to lucaswerkmeister

[2014-09-27 20:10] #49 closed, assigned to nobody

[2014-09-28 15:20] #39 closed, assigned to lucaswerkmeister

[2014-09-28 16:16] #45 closed, assigned to nobody

[2014-09-28 16:19] #34 closed, assigned to nobody

[2014-09-28 16:27] #48 closed, assigned to nobody

[2014-10-07 11:09] lucaswerkmeister opened #64 "Sugaring: Reflexive -Ish aliases?"
At the moment, we define the -`Ish` aliases like this:

[code]

I. e., `BodyIsh` includes `Body`. The rationale behind this is that if you already have a `Body` object from somewhere, you should be able to use it in the create functions.

However, that prevents the use of the following syntax:

[code]

Because this is only supported “if the parameter list has an unassigned parameter of type exactl

[2014-10-11 20:41] #19 closed, assigned to lucaswerkmeister

[2014-10-11 20:41] #64 closed, assigned to lucaswerkmeister

[2014-10-29 11:03] lucaswerkmeister opened #65 "let"
We need to support `let` expressions. See ceylon/ceylon-spec#747.

[2014-10-29 11:03] lucaswerkmeister opened #66 "if expressions"
We need to support `if` expressions. See ceylon/ceylon-spec#503.

[2014-10-29 11:03] lucaswerkmeister opened #67 "switch expressions"
We need to support `switch` expressions. See ceylon/ceylon-spec#556.

[2014-10-29 11:04] lucaswerkmeister opened #68 "object expressions"
We need to support `object` expressions. See ceylon/ceylon-spec#333.

[2014-10-29 11:04] lucaswerkmeister opened #69 "try expressions"
We need to support `try` expressions. See ceylon/ceylon-spec@510659455426de633030104bacb43b7f3daaf315.

[2014-10-29 11:04] lucaswerkmeister opened #70 "inline variable in switch"
The AST structure for switches needs to change for ceylon/ceylon-spec#1119.

[2014-10-29 11:17] lucaswerkmeister opened #71 "constructors"
We need to support constructors. See ceylon/ceylon-spec#796.

EDIT: Let’s make a task list.

- [x] `ConstructorDefinition` (I think we’ll inline the spec’s `ConstructorHeader`)
- [x] ~~Update `ClassBody` (see ceylon/ceylon-spec#1194)~~ – obsolete, since `ConstructorDefinition` extends `Declaration`
- [x] ~~`ConstructorExpression`~~ – nope, that’s a subset of `MemberExpression`.
- [x] ~~`Constructo

[2014-11-01 11:35] lucaswerkmeister opened #72 "Spread types"
We need to support spread types. See ceylon/ceylon-spec#1121 and especially ceylon/ceylon-spec@b1434e3a3f1e321f95ff33a84fa9b0b42ab7638b and ceylon/ceylon-spec@c3352a5c1ddbbcf684b78716c81d612347f06c53.

[2014-11-03 09:33] #69 closed, assigned to lucaswerkmeister

[2014-11-22 17:31] #70 closed, assigned to lucaswerkmeister

[2014-11-28 19:30] #72 closed, assigned to lucaswerkmeister

[2014-11-30 15:50] #65 closed, assigned to lucaswerkmeister

[2014-12-03 10:57] lucaswerkmeister opened #73 "Should we remove ExpressionIsh?"
At the moment, we have `ExpressionIsh` as the superclass of “[a]ll node types in the expression sub-hierarchy: `Expression` and some auxiliary node types that aren’t proper Expressions.”

As expressions have become more and more powerful, `ExpressionIsh` has become more and more bloated, both in the number of its subtypes and in the number of union type members in its `children` type.

And with in

[2014-12-03 16:30] #73 closed, assigned to lucaswerkmeister

[2014-12-04 12:38] #68 closed, assigned to lucaswerkmeister

[2014-12-08 12:16] #66 closed, assigned to lucaswerkmeister

[2014-12-08 19:35] lucaswerkmeister opened #74 "Update expression type hierarchy?"
In ceylon/ceylon-spec@9cd833c589d868315d8c53f1df43cfcabe971360 (and previously ceylon/ceylon-spec@74dbfa1e6ae26e4eb922564e35465fcf0b296b4c), @gavinking shuffled some BNF rules around. In `ceylon.ast` terms, that means:

- new abstract `LiteralExpression of Literal | StringTemplate`
- new abstract `DelimitedExpression of GroupedExpression | Enumeration | ObjectExpression`
- new abstract `Enumeratio

[2014-12-10 10:03] lucaswerkmeister opened #75 "destructuring"
We need to support destructuring. See ceylon/ceylon-spec#520.

[2014-12-15 19:45] #8 closed, assigned to nobody

[2015-01-04 15:47] lucaswerkmeister opened #76 "Negated exists and nonempty conditions"
`if (!exists x)` and `if (!nonempty x)` are now allowed, in conjunction with destructuring (#75) but logically separate from it. I musn’t forget to support this too. See ceylon/ceylon-spec#817 and ceylon/ceylon-spec@d024d99a7dd8f02751443dc236f5476ff94784ea.

[2015-01-04 16:47] gavinking commented on #76
Well actually negated conditions can't have patterns. It wouldn't make sense...

[2015-01-04 16:50] lucaswerkmeister commented on #76
Ah, good point. But it can be a pattern variable plus specifier expression (`if (!exists nil = null of Anything)`), which I’m representing as `SpecifiedPattern` (not yet committed, WIP), so that will have to be an assertion.

[2015-01-10 14:30] #75 closed

[2015-01-10 14:31] lucaswerkmeister commented on #75
Phew! Done. (Except for the related #76.)

[2015-01-10 14:44] gavinking commented on #75
:)

Sent from my iPhone

[2015-01-11 12:22] lucaswerkmeister commented on #76
In fact, I don’t think this belongs into `ceylon.ast` at all – it’s not a syntactical restriction.

[2015-01-11 12:56] #76 closed

[2015-01-11 17:48] lucaswerkmeister commented on #71
Also includes ceylon/ceylon-spec#1126.

[2015-01-12 21:27] lucaswerkmeister opened #77 "Check children order"
A node’s `children` should always be in the order in which the children appear in Ceylon source code. However, I didn’t pay attention to this in the beginning, so I’d like to go through the source code and verify that the order is always correct. (For example, `Annotations` is usually the last parameter – so it can be defaulted – and I might have forgotten to move it in the `children` list a few t

[2015-01-12 21:44] lucaswerkmeister commented on #77
Balls to that, the very *latest* node – `Destructure` – is an offender! Bad @lucaswerkmeister!

[2015-01-12 22:53] #77 closed

[2015-01-12 22:55] lucaswerkmeister commented on #77
Wow, there was quite a lot of faulty children! And while going through `ceylon.ast` I found some other stuff too, committed on `master`… see 518b7ed...b9fd415.

[2015-01-13 21:28] lucaswerkmeister commented on #71
So what’s the supertype of `ConstructorDefinition`? Per spec, a `ConstructorDefinition` can only appear within a `ClassBody`, not within an `InterfaceBody` or `Block`. However, without complement types (`{Statement|Declaration~ConstructorDefinition*} content`), this would be a bit ugly to enforce within the type system… unless we say that `ConstructorDefinition` *doesn’t* extend `Declaration`.

Bu

[2015-01-16 11:20] lucaswerkmeister commented on #71
Regarding `ExtendedType`: I think we’ll get rid of `ClassInstantiation` and inline it into `ClassSpecifier` (unchanged) and `ExtendedType` (with the added possibility of a `TypeNameWithTypeArguments` qualifier).

[2015-01-16 11:34] lucaswerkmeister commented on #71
Actually… the compiler completely accepts:
[code]
even though, per the spec, a `ClassSpecifier` can only be qualified by `super`:

ClassSpecifier: "=>" ("super" ".")? TypeNameWithArguments PositionalArguments
[code]

[2015-01-16 12:05] gavinking commented on #71
@lucaswerkmeister fixed.

[2015-01-16 12:05] lucaswerkmeister commented on #71
Thanks, then I’ll keep `ClassInstantiation`.

[2015-01-16 17:40] lucaswerkmeister opened #78 "Update ValueSpecification and LazySpecification to allow "this" qualifier"
See ceylon/ceylon-spec#1122.

[2015-01-18 11:58] #71 closed

[2015-01-18 11:58] lucaswerkmeister commented on #71
Alright, I think we’re done here! I hope I haven’t forgotten anything…

[2015-02-05 20:06] #67 closed

[2015-02-11 11:15] lucaswerkmeister opened #79 "Rewrite `equals` methods"
A while ago [on IRC](http://transcripts.jboss.org/channel/irc.freenode.org/%23ceylonlang/2014/%23ceylonlang.2014-08-28.log.html#t2014-08-28T15:26:29), @davidfestal pointed out to me that `ceylon.ast`’s source-gen’d `equals` methods are silly: Instead of, for instance,
[code]
it would be much better to have
[code]
Thus, if a node has several optional children, those are checked *sequentially*, not

[2015-02-14 11:15] #78 closed

[2015-02-25 11:32] lucaswerkmeister commented on #79
Not actually necessary, I think. It’s probably much easier to just take the first `return` statement in the `equals` method – that’s the one for the branch where all optional attributes exist – and then analyze its expression, which will be a conjunction of equality tests between either `x == that.x` (non-optional) or `x == x_` (optional) – in other words, I can simply check for the trailing under

[2015-02-28 12:19] #79 closed

[2015-02-28 12:21] lucaswerkmeister commented on #79
Done. Comparison [here](https://github.com/ceylon/ceylon.ast/compare/7482042...d857818): 748 lines shorter!

[2015-03-05 22:17] lucaswerkmeister opened #80 "Support more qualifiers in types and metas"
- [x] metas can be qualified by lidentifiers, e. g. `` `someObject.InnerClass` `` – ceylon/ceylon-spec#1243
- [x] types can be qualified with`package` – https://github.com/ceylon/ceylon-spec/issues/1245#issuecomment-77418611
- [x] metas can be qualified with `package` – ceylon/ceylon-spec#1245

[2015-03-18 10:13] lucaswerkmeister commented on #80
Done.

[2015-03-18 10:13] #80 closed

[2015-03-25 19:27] lucaswerkmeister opened #81 "completeCompilationUnit is incomplete"
If you rerun the command at the top of `completeCompilationUnit.ceylon`, you can see that the following classes are missing from `completeCompilationUnit`:

- [x] `ContructorDec`
- [x] `ConstructorDefinition`
- [x] `Destructure`
- [x] `PackageQualifier`
- [x] `VariadicVariable`

[2015-04-06 16:51] lucaswerkmeister opened #83 "Update string templates"
See ceylon/ceylon-spec#1270.

[2015-04-13 19:30] #83 closed

[2015-04-13 22:22] lucaswerkmeister commented on #83
Man, I’ve been pretty sloppy about this one :( sorry about all those after-the-fact fixes

[2015-05-16 15:37] lucaswerkmeister opened #84 "IterableType’s variadic type is required"
We currently permit `{}` as type, i. e., a `null` `IterableType.variadicType`. That’s incorrect, since support for that was never added (ceylon/ceylon-spec#1005). I need to remove that.

[2015-05-16 16:21] #84 closed

[2015-05-19 22:27] sadmac7000 opened #85 "ant publish doesn't publish javascript"
As stated.

[2015-05-22 22:39] lucaswerkmeister opened #86 "Update for new type constructors"
- [ ] type constructors (`<T> => X<T>`)
- [ ] anonymous generic functions (`<T>(T t) => t`)

[2015-05-22 23:20] gavinking commented on #86
Also a type parameter can now have type parameters of its own.

And don't forget that all these things can have type constraints.

[2015-05-24 16:04] lucaswerkmeister commented on #86
Thanks, updated the issue

[2015-05-29 14:00] #85 closed

[2015-05-29 14:00] lucaswerkmeister commented on #85
Done.

[2015-06-02 20:31] lucaswerkmeister commented on #86
Actually, I can’t find this in `Ceylon.g` or in the `typeconstructors.ceylon` test; what do type parameters with type parameters look like?

[2015-06-02 21:19] lucaswerkmeister commented on #86
Ooh, I see, it’s `given Box<Value>`, in the constraint list.

[2015-06-13 17:28] jvasileff opened #87 "provide a hook for preserving type checker information"
It would be nice to be able to preserve extra type checker information when converting RedHat nodes to Ceylon nodes. This could be supported with a user-defined hook, perhaps called `advice`, that allows callers to `compilationUnitToCeylon` to provide a function that will attach information to newly created nodes.

For example, the `andOperationToCeylon` function may look like:

[code]

The `advic

[2015-06-13 17:29] lucaswerkmeister commented on #47
Superseded by #87.

[2015-06-13 17:29] #47 closed

[2015-06-14 21:02] lucaswerkmeister commented on #87
Should the `compileX` functions also have this? They won’t have much typechecker info anyways…

[2015-06-14 21:05] lucaswerkmeister commented on #87
But OTOH they could have token information that would be impossible to attach later, since they create token stream + parser themselves. I think I’ll add it.

[2015-06-15 20:51] lucaswerkmeister commented on #87
So there are a few nodes where the conversion isn’t quite straightforward, and the `ceylon.ast` node comes from several RedHat nodes:

- `ClassInstantiation`
- (probably more)

I’ll call `update` for both RedHat nodes, I think.

[2015-06-15 21:00] jvasileff commented on #87
I think that makes sense. `update` implementations can always use type tests to do whatever they need to do.

Can these non-one-to-one cases be documented?

[2015-06-15 21:01] lucaswerkmeister commented on #87
Yeah, the package documentation might be a good place for that. (That is of course also the place where `update` itself is documented; I’m not going to add that for every parameter.)

[2015-06-15 22:04] lucaswerkmeister commented on #87
Adding the hook is done. Still to do:

- [ ] documentation
- [ ] testing (check that each node gets something attached)
- [ ] provide other default implementation that copies over information

[2015-06-16 16:13] jvasileff commented on #87
Thanks @lucaswerkmeister, this is working out very well!

I'd offer code for default implementations, but I think it will take some time for me to decide how exactly I'd like these to work. My current approach for model info is to use the most specific type possible. So, you only need to use `exists` (rather than narrowing with `is`) on `get(key)`, but you need to be sure to use the right `key`.

[2015-06-23 20:29] jvasileff opened #89 "stringLiteralToCeylon produces incorrect result for empty string"
`stringLiteralToCeylon` turns empty strings into the string `""`.

[code]

[2015-06-24 17:35] lucaswerkmeister commented on #89
AAH. Subrange behavior strikes again: `text[1 .. (text.length - 2)] == text[1 .. -1] == text[-1 .. 1].reversed`. We’ve had that before :(

[2015-06-24 17:38] jvasileff commented on #89
oops! Yeah, I like the prior fix to use `:`

[2015-06-24 19:01] #89 closed

[2015-06-24 19:02] lucaswerkmeister commented on #89
Should be fixed now.

[2015-06-29 19:33] lucaswerkmeister commented on #87
Heads-up: Some of the missing node updates are because we fabricate a node out of thin air. I’m adding `update` calls for all of these, but not all of them make sense. (For instance, a `JTuple`’s `sequencedArgument` can be `null`, in which case I `update` the new `ArgumentList()` with the tuple itself.)

[2015-07-18 19:02] jvasileff opened #90 "Narrow left operand types for assignment operations"
Unless I'm missing something, we should be able to use `BaseExpression | QualifiedExpression` as the left operand type for:

* `AssignmentOperation`
* `PrefixOperation`
* `PostfixOperation`

See:

* http://ceylon-lang.org/documentation/1.1/spec/html_single/#assignment
* http://ceylon-lang.org/documentation/1.1/spec/html_single/#valuereferences

[2015-07-18 21:44] lucaswerkmeister commented on #90
I disagree. `(x)++` and `(x) = x` are syntactically legal expressions, even though the typechecker rejects them. Remember, we don’t care about semantics.

(I think there’s an example in some node where the documentation explicitly says something like “for legal, well-typed code this value must always be X”, but I can’t find it now.)

[2015-07-18 21:58] jvasileff commented on #90
Maybe you mean the notes on AssignmentStatement:

[2015-07-18 21:58] jvasileff commented on #90
Ok, I guess you're right. But I'm still going to try to find a logical justification for the change :smile:

[2015-07-18 21:59] lucaswerkmeister commented on #90
No, that’s actually something we prevent – we throw an assertion error in the ambiguous case.

[2015-07-18 22:10] jvasileff commented on #90
Actually, I guess there can be no justification for this if it's syntactically valid. I'll go ahead and close it. Thanks for the info.

[2015-07-18 22:10] #90 closed

[2015-07-23 00:27] jvasileff opened #91 "support specification statements in Interfaces"
This typechecks:

[code]

but is not supported by `InterfaceBody`, and consequently blows up `interfaceBodyToCeylon`:

[code]

[2015-07-23 00:34] lucaswerkmeister commented on #91
Per spec, `something() => "";` is a `LazySpecification`, which is a `Statement`, not a `Declaration`, and therefore not allowed in an `InterfaceBody`. As far as I can tell, it is a typechecker bug that `I2` is not rejected. @gavinking?

(You can also see this in regular classes: [this comment in `LinkedList.ceylon`](https://github.com/ceylon/ceylon-sdk/blob/8ccfb955149a5dc7aa3a2233c3029b9195a64176

[2015-07-23 02:03] gavinking commented on #91
No, it's a shortcut refinement, and *totally* allowed.

[2015-07-23 02:06] gavinking commented on #91
Ah, but indeed the grammar in the spec does not make clear that shortcut refinements are allowed in interface bodies. I need to fix that.

[2015-07-25 22:04] gavinking commented on #91
Fixed in https://github.com/ceylon/ceylon-spec/issues/1389.

[2015-07-25 22:05] jvasileff commented on #91
As you can [see](https://github.com/ceylon/ceylon-spec/commit/fac586b77364a40176a95f60d535f792d3cfe0b0), @lucaswerkmeister, this was a report for a future bug, which has now materialized. Or, more charitably, it is an enhancement request to bring Ceylon AST in compliance with the current Ceylon Language Specification.

[2015-07-26 11:41] #91 closed

[2015-08-16 02:55] jvasileff opened #92 "StringLiterals within StringTemplates are truncated"
There seems to be disagreement in the code as to whether ``` `` ``` and `"` should be included as text in `StringLiteral`s that are part of `StringTemplate`s, with the result being that type-checker -> AST transformations result in missing leading and trailing characters.

The code fragment ``` "abcd``1+1``efgh" ``` is used below:

### Scenario 1: Typechecker to Ceylon AST

The type checker does *

[2015-08-16 10:22] lucaswerkmeister commented on #92
According to the documentation of `StringLiteral`

the backticks should not be included in the literal text.

It’s possible that the RedHat → `ceylon.ast` conversion assumes that all string literals have either 1 (regular) or 3 (verbatim) quotes, or something like that.

[2015-08-16 21:19] jvasileff commented on #92
The typechecker strips these chars at https://github.com/ceylon/ceylon-spec/blob/master/src/com/redhat/ceylon/compiler/typechecker/analyzer/LiteralVisitor.java#L95-L106

[2015-08-16 21:25] lucaswerkmeister commented on #92
Ah, that would be why `compileStringTemplate` works…

So in `toCeylon` we have to detect whether the quotes are still there or not, since we could be running with or without `LiteralVisitor`.

And what should `RedHatTransformer` produce? Does this need to be configurable (i. e. a class parameter)? Probably…

[2015-08-20 22:00] #92 closed

[2015-08-20 22:01] lucaswerkmeister commented on #92
Should be fixed now. `RedHatTransformer` got an extra parameter.

[2015-08-20 22:09] jvasileff commented on #92
Awesome, thanks!

BTW, did you notice the other fixups `LiteralVisitor.java` is doing? IIRC, there are about 4 or 5 places it mutates nodes.

[2015-08-21 10:48] lucaswerkmeister commented on #92
Yeah, looks like I’ll have to do more stuff. `LiteralVisitor`

- strips quotes
- strips leading indentation
- interprets escape sequences
  - legacy (`\n`)
  - unicode hex
  - unicode name
  - emoji
- adds `DocLink` nodes
- interprets integer and float literals

I wonder if it’s a good idea to reproduce all that in `RedHatTransformer`. We should probably be able to handle it in `toCeylon()` (check

[2015-08-21 14:34] jvasileff commented on #92
Is it always (and will it always be) possible to unambiguously determine if processing is required? This sounds suspicious, but I haven't looked at the details.

Is the "normal" use case of `RedHatTransformer` to feed the result into a pipeline that includes `LiteralVisitor`? I guess so, since the formatter works fine with the "raw" RedHat AST today, as I understand it.

[2015-08-21 14:44] lucaswerkmeister commented on #92
https://github.com/ceylon/ceylon-spec/blob/master/src/com/redhat/ceylon/compiler/typechecker/analyzer/LiteralVisitor.java#L47-L52

`CompilationUnit` itself apparently has a `literalsProcessed` attribute that you can check to see whether `LiteralVisitor` already passed over it.

For the individual nodes, we don’t have that, but we should be able to check something like this:
[code]
When `LiteralVis

[2015-08-21 15:05] jvasileff commented on #92
I see. That all makes good sense to me. So I agree with your approach:

1. Autodetect for RedHat → `ceylon.ast`
2. Always produce unprocessed nodes for `ceylon.ast` → RedHat

I can't imagine a scenario where a user would actually see this ugliness:

[code]

since they should be using the `ceylon.ast` visitors, etc.

[2015-08-23 16:03] lucaswerkmeister commented on #92
BTW, this is incorrect. Since `LiteralVisitor` also interpolates escape sequences, the String literal `"\"Hi\""` has the text `"Hi"` after going through `LiteralVisitor`, which we could interpret as `Hi`. We have to compare the literal’s and token’s `text`.

[2015-08-23 20:24] lucaswerkmeister commented on #92
Oh, and it seems we can’t compare the *identity* of the texts, since `CommonToken` doesn’t always store its text either, but instead seems to reinstantiate it from the underlying input. Equality test will have to do.

[2015-08-26 20:39] lucaswerkmeister commented on #92
Question: If we detect the literal was visited by `LiteralVisitor`… which text should we put in the `ceylon.ast` node? The original text from the token, or the text from the node (with interpreted escape sequences, exponents, etc)? I’m leaning towards the former, but perhaps the latter is more useful? WDYT @jvasileff?

[2015-08-26 22:03] jvasileff commented on #92
I think it's important to always present `ceylon.ast` nodes with the same amount of processing, regardless of their history. I think it's ugly (but understandable) that the type checker leaks an intermediate form of its tree.

My preference would be to have the post-`LiteralVisitor` form be the standard, but is that consistent with other `ceylon.ast` goals? Can processing always be reversed to fai

[2015-08-26 22:06] lucaswerkmeister commented on #92
Impossible, pure Ceylon doesn’t give me the information to decode `"\{ELEPHANT}"`. The character names aren’t available in JS.

I don’t think so, how would you distinguish between `"a"` and `"\{LATIN SMALL LETTER A}"`?

[2015-08-26 22:55] jvasileff commented on #92
Ok, yeah, I guess I'd go with the raw form except when when processing is obviously better (and reversible, if important). Consumers of `ceylon.ast` shouldn't write code that is dependent on a particular processing pipeline that can't be enforced by the type system. And the `update` feature allows explicit use of type checker output.

[2015-08-27 21:58] luolong commented on #92
I just recently heard a podcast where someone was explaining how new Roslyn compiler ast used some extra data on nodes (I think they called those _Trivia_) for inserting and retaining information like comments and formatting related details about an AST node...

[2015-08-29 06:19] gavinking commented on #92
@luolong I dunno, I don't really see how that could be non-fragile, since it's unclear which node a comment "belongs" to. Comments aren't annotations.

[2015-08-30 18:11] luolong commented on #92
Its by convention.

we all know that line comments usually go before the block of text they are meant to "decorate"

Same would work for white space before and after some code. And if the distinction between triple quotes and plain quotes will be erased in AST, the "Trivia" node seems to be just the right type _trivia_ to be attached to the string literal AST node.

[2015-08-30 23:03] gavinking commented on #92
The point is this is ambiguous. Which node do they decorate? The expression? The statement? The nested expression?

[2015-09-18 09:51] lucaswerkmeister commented on #86
@gavinking are type constructors still an “experimental feature” in 1.2? If yes, I’ll slip this.

[2015-09-18 10:58] gavinking commented on #86
Yes.

[2015-09-18 14:53] jvasileff commented on #86
@lucaswerkmeister when you do take this on, can you consider doing it in a feature branch for 1.2? I certainly don't want to push you into extra work, so if this doesn't make sense when the time comes, please disregard.

[2015-09-18 15:14] lucaswerkmeister commented on #86
The main reason I like to wait for the spec is that `ceylon.ast` types are usually named the same as their corresponding spec rules, but if the spec hasn’t been written yet, there’s the danger that I’ll have to rename the `ceylon.ast` node later.

Other than that… I’m not sure what your asking. Do you mean when I get around to adding type constructors, I should do it on a branch based on the 1.2 t

[2015-09-18 15:20] jvasileff commented on #86
Yes, cool, thanks!

[2015-09-19 21:50] lucaswerkmeister commented on #81
Done.

[2015-09-19 21:50] #81 closed

[2015-10-07 07:30] jvasileff opened #95 "Error converting from rh to AnonymousArgumentInfo"
Redhat anonymous SpecifiedArgument's *do* have an identifier, causing an incorrect test in `namedArgumentToCeylon`.

For

[code]
there is a failure processing the token, since an `AnonymousArgument` is mistaken for a `SpecifiedArgumentInfo`.

The RH tree is (note the `a` identifier):
[code]
possible fix (works):
[code]

[2015-10-07 10:34] lucaswerkmeister commented on #95
Why not
[code]
in the second diff?

Otherwise, the fix looks good to me.

[2015-10-07 14:11] jvasileff commented on #95
Yes. The original is the 3am version. I'll submit a PR a bit later if you don't beat me to it.

[2015-10-07 14:19] lucaswerkmeister commented on #95
Sure, I’ll wait :)

[2015-10-07 17:00] lucaswerkmeister commented on #95
Should be fixed by #96.

[2015-10-07 17:00] #95 closed

[2015-10-08 11:42] lucaswerkmeister commented on #87
Oops, forgot to close this issue – last part should be done with d209e3d55a47d5d4116ce8bd0ddb4cc57faca6a4.

[2015-10-08 11:42] #87 closed

[2015-10-16 21:44] lucaswerkmeister commented on #52
Alright, these have been added to the spec as
[code]
How do we model them?

My best idea currently would be to turn `TupleType` into an abstract class with the two subclasses `ListTupleType` and `LengthTupleType`, but I don’t really like that much.

[2015-10-16 22:02] jvasileff commented on #52
A three class solution sounds right to me.

[2015-10-20 04:09] jvasileff opened #97 "crash on large magnitude Integer literals"
General and specific issues:

1. The spec does not limit the size of integer values; it is backend specific. For example, the Ceylon/JS Integer range extends well beyond that of Java's `long`.
2. Even for the JVM (64-bit Integer), the full range is not currently supported by ceylon.ast; `-9223372036854775808` appearing in code results in an assertion error.

`IntegerLiteral.integer` is of type `In

[2015-10-20 04:29] jvasileff opened #98 "crash on valid Float values"
Ceylon 1.2's `parseFloat()` is unreliable, and returns `null` for:

[code]
and throws for `2.7182818284590452354`, causing `ceylon.ast` exceptions like:
[code]
yet these are both valid Float values.

Of course, *any* routine to convert `String` to `Float` may suffer loss of precision, so even without the crash, use of `FloatLiteral.float` is probably ill-advised.

It could be made lazy (or even re

[2015-10-20 05:57] tombentley commented on #98
On 20 Oct 2015 05:29, "John Vasileff" <notifications@github.com> wrote:

Is there an issue for this?

[2015-10-20 08:43] lucaswerkmeister commented on #98
@tombentley some of this came up in ceylon/ceylon-sdk#296.

[2015-10-20 08:47] lucaswerkmeister commented on #98
parse**Integer**? :)

I think it makes most sense to remove `FloatLiteral.float` and `IntegerLiteral.integer` completely, leaving it to the user to calculate them if needed (just like `StringLiteral` and `CharacterLiteral` already leave it to the user to handle Unicode escapes).

(Should we keep the verification code? I think yes.)

[2015-10-20 14:15] jvasileff commented on #98
Ha, fixed!

Makes sense to me, I think it was just the `parseX()` functions that were too strict.

[2015-10-20 18:36] lucaswerkmeister commented on #98
I just found a much more satisfying argument than `parseFloat` reliability to remove `IntegerLiteral.integer`: in its current form, any `ceylon.ast` based compiler must reject a program like
[code]
with the equivalent of a *syntax error*, because I don’t let you construct an AST for it. And this program clearly has valid syntax.

I’m not sure if an equivalent program for invalid float literals exi

[2015-10-26 13:13] lucaswerkmeister opened #99 "Support `else if` in switch"
See ceylon/ceylon.formatter#121.

(Note: currently, `ceylon.ast` doesn’t compile because some grammar rules were renamed.)

[2015-10-30 23:51] lucaswerkmeister commented on #99
Oops, I forgot I had an issue for this. Fixed in a919ec4940f7b662ed6228a55f7458c373125321.

[2015-10-30 23:51] #99 closed

[2015-11-01 16:41] #97 closed

[2015-11-01 16:41] #98 closed

[2015-11-01 16:41] lucaswerkmeister commented on #98
Done, gone.

[2015-11-01 16:42] lucaswerkmeister commented on #97
Done, `IntegerLiteral.integer` gone.

[2015-11-04 14:08] lucaswerkmeister opened #100 "primaryTypeToCeylon missing?"
`ceylon.ast.redhat` seems to be missing a `primaryTypeToCeylon` function (and `compilePrimaryType`). I don’t think there’s a good reason for this – this is probably a relic from the time before I used source-gen to systematically generate everything for each new node type.

[2015-11-04 14:22] lucaswerkmeister commented on #100
Oh, the reason might be that there’s no separate `PrimaryType` in the RedHat AST – just `StaticType`. But we should still have these functions.

[2015-11-04 15:20] lucaswerkmeister commented on #52
I implemented exactly what I proposed in the above comment, since I haven’t been able to think of anything better (neither layout nor name) in the meantime. Done.

[2015-11-04 16:09] lucaswerkmeister commented on #74
Closing, won’t do this.

[2015-11-04 16:09] #74 closed

[2015-11-04 16:11] lucaswerkmeister commented on #20
Closing. Per #97 and #98, it is now a non-goal of `ceylon.ast` to evaluate any literals. Documentation of `CharacterLiteral` and `StringLiteral` was updated in c8eae19249b638c128395558f9013f65f6e4998a to reflect this.

[2015-11-04 16:11] #20 closed

[2015-11-04 16:13] lucaswerkmeister opened #101 "rename compileX to parseX?"
I just realized that the `compileStringLiteral` etc. functions are misnamed, since they only parse the node without doing any other part of compilation. Is it too late to change that?

[2015-11-04 22:20] lucaswerkmeister commented on #52
Fuck me, I already did this half a year ago in c4329c18957c55ec5a15e82d1b3dc05f58aa708f without mentioning this issue. So now I have *two* implementations of this and need to decide which to keep.

[2015-11-04 22:54] lucaswerkmeister commented on #52
So we currently have two implementations of this:

1. `SequentialType` has an optional `length` child of type `IntegerLiteral`
2. `TupleType` is an abstract supertype of `ListTupleType` (previously `TupleType`) and `LengthTupleType` (`PrimaryType` plus `IntegerLiteral`).

Which one should we keep? 1 is closer to the RedHat AST, while 2 is slightly closer to the spec.

I think I lean slightly towar

[2015-11-04 22:56] lucaswerkmeister commented on #52
What’s really mysterious, by the way, is this: both implementations have tests, and all tests currently pass. I don’t understand how this is possible, since both versions *should* erase to the same RedHat AST – and consequently, it shouldn’t be possible to distinguish between them, and both versions should be converted back to the same version (I would expect 2 due to [this](https://github.com/cey

[2015-11-04 23:07] jvasileff commented on #52
I'd lean towards 2, I think, since it is indeed a `ceylon.language::Tuple`. But of course, that's not absolute. Sequence, Sequential, and Tuple are often used interchangeably. Notably, in `ceylon.ast`, `ceylon.language::Empty` is represented by a `TupleType`, even though it is not a `ceylon.language::Tuple`.

Oh, wait, no. I change my vote. It seems `SequentialType` is of the form `Type[whatever]`

[2015-11-05 21:31] lucaswerkmeister commented on #52
I guess that from the viewpoint that `ceylon.ast` is about syntax, not semantics, 1 makes more sense…

[2015-11-05 21:41] lucaswerkmeister commented on #52
Found out why the tests work: `primaryType` and `type` test objects are completely missing. No one is testing `typeToCeylon`. Probably related to #100. *screams in horror*

I’ll add those, check that the tests fail as they should, then remove solution 2.

[2015-11-05 23:22] #100 closed

[2015-11-05 23:23] lucaswerkmeister commented on #52
Done again. Once I fixed the tests (9487f13), they indeed failed as expected, so now I know they work :) and once I removed 2 in ae4c94d, they worked again.

[2015-11-07 12:36] lucaswerkmeister commented on #52
Reopening again because there’s one last open question. Per spec, only decimal integer literals are allowed, not binary or hex ones:
[code]
I enforced this in implementation 2 ([here](https://github.com/ceylon/ceylon.ast/blob/8b6c3fdfa0e59b3638a564358cf025a31e52fc2d/source/ceylon/ast/core/LengthTupleType.ceylon#L21)), but not in implementation 1. Should I add it to implementation 1? It depends on

[2015-11-07 22:44] #52 closed

[2015-11-07 22:44] lucaswerkmeister commented on #52
Not checking.

[2015-11-19 07:06] jvasileff opened #102 "missing support for value constructors"
Attempting to convert
[code]
results in
[code]
the Redhat AST is:
[code]

[2015-11-19 23:10] lucaswerkmeister commented on #102
Actually, it looks like we just don’t support value constructors at all – I seem to have completely forgotten that. Whoops :)

Spec:
[code]
I thought about just making `ConstructorDefinition`’s `parameters` optional, but then we can’t encode the requirement that a value constructor *must* have a name, so it’s probably better to have separate classes: rename `ConstructorDefinition` to `CallableCons

[2015-11-20 03:11] jvasileff commented on #102
That sounds reasonable to me. The only counter arguments I can come up with are:

1. You also can't have multiple callable constructors with no name or matching names (not a syntactic issue, but still a practical concern for users)
2. `LazySpecification` is used for both functions and values, so just having one class would be parallel.
3. If you'll consider issuing patch releases for `1.2.0` :smil

[2015-11-20 10:08] lucaswerkmeister commented on #102
That’s the plan, yes, to put this in a `1.2.1` or something.

[2015-11-21 17:51] jvasileff opened #103 "match case validation too strict"
This is a bug from the future; see https://github.com/ceylon/ceylon/issues/5754

`MatchCase` should allow `QualifiedExpression`s in which the `receiverExpression` is a `Package`.

For example, this code should be allowed:

[code]

but currently results in
[code]
for the `Tree`
[code]

[2015-11-23 00:35] lucaswerkmeister commented on #103
The spec commit fixing this is ceylon/ceylon@58d23683928e79445db417c14bacca56f7e484ad. That commit adds essentially no information for us, though, since it just adds `ConstructorExpression`, which we don’t have (indistinguishable from any `MemberExpression` without typechecking). In addition, the spec already covered `package.nil` with `BaseExpression`, which includes an optional `package` qualifi

[2015-11-23 00:53] gavinking commented on #103
The only things that are legal here are of form:

- `true`
- `package.true`
- `Boolean.true`
- `package.Boolean.true`

That's it. Even if the spec grammar accepts slightly more than that, the text is very clear that these are the only meaningful possibilities.

[2015-11-23 00:54] lucaswerkmeister commented on #103
Yes, but I doubt whether `ceylon.ast` should really test if you’re doing `package.Boolean.true` and not `somethingElse.Boolean.true`. I think that goes too far.

[2015-11-23 00:56] gavinking commented on #103
Well I didn't even bother encoding that into the spec grammar, so you can form your own conclusions from that ;-)

[2015-11-23 22:04] #103 closed

[2015-11-24 01:34] lucaswerkmeister commented on #103
Oh damn, I just remembered that I wanted to do all `ceylon.ast` work for now on branches… @jvasileff do you mind if I rewrite history to make that commit on `1.2.0` and then merge it into `master`?

[2015-11-24 01:38] jvasileff commented on #103
no, please do!

[2015-11-24 01:41] lucaswerkmeister commented on #103
Alright, done. See branch `matchCaseQualifiedExpression`.

[2015-11-24 01:42] lucaswerkmeister commented on #102
(note to self: don’t forget to do this in a branch based on `1.2.0`, rather than `master`.)

[2015-11-24 04:52] jvasileff opened #104 "Bad precedence check for AddAssignmentOperation"
The typchecker allows:

[code]
but ceylon.ast fails with:
[code]
for the tree
[code]
The code `i = if (true) then 1 else 1;` does compile.

[2015-11-24 18:40] lucaswerkmeister commented on #104
Ugh.

Why is this tucked away in §6.7.1 `if/then/else` expressions and not mentioned at all in §6.8.1?

I guess this means I’ll have to add an alias between `DisjoiningExpression` and `ThenElseExpression`.

[2015-11-24 18:44] lucaswerkmeister commented on #104
The alias will include `IfElseExpression`, `SwitchCaseElseExpression`, `LetExpression`, and of course `DisjoiningExpression`, and be called…?

[2015-11-24 18:47] lucaswerkmeister commented on #104
Furthermore, the typechecker also permits this:
[code]
and I can’t find any info on the precedence of object expressions in the spec. @gavinking?

[2015-11-25 21:35] lucaswerkmeister commented on #104
…`StructureExpression`, unless I can come up with something better.

[2015-11-25 21:55] lucaswerkmeister commented on #104
Hm, this also means that this is no longer correct:
[code]
since `IfTheExpression` and friends aren’t `ValueExpression`s.

[2015-11-25 22:53] #104 closed

[2015-11-26 01:08] gavinking commented on #104
Because these aren't operators?

[2015-11-26 08:31] lucaswerkmeister commented on #104
That table is mainly about precedence IMO, and these constructs also have precedence.

[2015-12-07 03:05] jvasileff opened #105 "Bug processing typechecked `package` and `module` decs"
Section [6.10.2. Package and module references](http://ceylon-lang.org/documentation/1.2/spec/html_single/#packageandmodulereferences) allows package-name-less package reference expressions (`` `package` ``):

but `ceylon.ast.redhat` blows up with:

[code]

This is supported by the api of `PackageDec`, as `packageName` is optional.

[2015-12-07 03:35] jvasileff opened #106 "WideningTransformer misdirects IntersectionOperations"
`transformIntersectionOperation()` should forward to `transformSetOperation()`, not `transformBinaryOperation()` as it currently does on line 147:

[code]

[2015-12-07 08:30] #106 closed

[2015-12-07 08:30] lucaswerkmeister commented on #106
Thanks, should be fixed now.

[2015-12-07 15:05] jvasileff commented on #105
@lucaswerkmeister re you're Gitter question

how?

it must be that the type checker fills in this info when full type checking is performed. For the program:

[code]

I get:
[code]

[2015-12-07 15:08] jvasileff commented on #105
Ah, looks like `ExpressionVisitor.java` is the `null` hater (or null burier?):

https://github.com/ceylon/ceylon/blob/3d92c0cb6faf9b5d2c93635f82b27ee1c8e26c89/typechecker/src/com/redhat/ceylon/compiler/typechecker/analyzer/ExpressionVisitor.java#L8841

Module literals may also be affected.

[2015-12-07 15:08] lucaswerkmeister commented on #105
Indeed it does: [`ExpressionVisitor.java:8847`](https://github.com/ceylon/ceylon/blob/5072c1db8483b7b2c14d6ff43ed89a68f1649f59/typechecker/src/com/redhat/ceylon/compiler/typechecker/analyzer/ExpressionVisitor.java#L8845-L8849). I thought it would create a proper import path with the correct components, but it looks like it doesn’t. Alright.

[2015-12-07 15:09] jvasileff commented on #105
Github tells me I beat you by 1s :)

[2015-12-07 15:09] lucaswerkmeister commented on #105
GitHub doesn’t even tell me second-precise timestamps :(

[2015-12-07 15:11] jvasileff commented on #105
So yes, `` `Anything p = `module`;` `` also fails with:
[code]

[2015-12-07 15:32] jvasileff commented on #106
Thanks!

[2015-12-07 23:19] lucaswerkmeister commented on #105
Should be fixed in branch `fix105`, can you try it out?

(`` `class` `` and `` `interface` `` should be fine afaict.)

[2015-12-08 00:17] jvasileff commented on #105
works great, thanks!

BTW, a nice tool for testing this sort of thing is `ceylon compile-dart --verbose=ast,rhAst` :)

[2015-12-08 00:18] #105 closed

[2015-12-08 00:19] lucaswerkmeister commented on #105
Alright, pushed to master then :)

And it seems like your compiler is a great way to debug ceylon.ast on
typechecked ASTs, so I guess I’ll install it :D

On 08.12.2015 01:17, John Vasileff wrote:

[2015-12-09 23:31] lucaswerkmeister commented on #102
Done in branch `addValueConstructorDefinition`. @jvasileff can you try it out before I push the merge to `master`? (Also cc @Vorlent, this should fix your problem from Dec 6th.)

[2015-12-10 22:41] lucaswerkmeister commented on #102
Well, I tried to run the Dart backend with `ceylon.ast` on `addValueConstructorDefinition`… and I can confirm that the reported bug no longer occurs. Instead, it naturally blows up with an error that `transformValueConstructorDefinition` isn’t implemented in `captureVisitor`.

I’ll merge it into master, since it looks mostly good to me.

[2015-12-10 22:41] #102 closed

[2015-12-11 00:37] jvasileff commented on #102
Thanks @lucaswerkmeister, that was still on my todo list.

that's not natural, it's horrible!

[2015-12-11 00:38] jvasileff commented on #102
BTW, with the latest couple fixes, we've got to be close to 100% coverage for real world testing. It's amazing how well ceylon.ast has worked out!

[2015-12-11 01:34] lucaswerkmeister commented on #102
well I added a method to the interface and then ran your compiler again without recompiling it – what else could possibly have happened? I’m not sure how I didn’t realize this would happen before I tried it out.

[2015-12-11 01:45] jvasileff commented on #102
Yeah, it's not all that unexpected. But my aim has been to provide nice compiler error messages with column and line number info for unsupported features.

[2015-12-12 05:27] jvasileff opened #107 "optimize Node.visitChildren()"
`Node.visitChildren()` delegates to `transformChildren()`, which unnecessarily instantiates a sequence:

[code]

so perhaps `visitChildren` should be rewritten as:

[code]

based on tests against sdk modules, this has the potential to drop processing times by 40%+ for `Visitor`s that don't perform expensive tasks.

[2015-12-12 05:27] jvasileff commented on #107
I can try this out later.

[2015-12-12 23:42] #107 closed

[2015-12-12 23:44] lucaswerkmeister commented on #107
Done. I call `child.visit` instead of `child.transform`, because:
- `Visitor.transform` just delegates to `visit` without clients being able to change that; you’d hope the JVM would realize this and inline the call, but still, for “`Visitor`s that don’t perform expensive tasks”, the whole job might be done before optimization kicks in here.
- It makes more sense for `visitChildren` to call `visit`

[2015-12-13 18:58] jvasileff opened #108 "consider optimized approach to 'extraInfo'"
ExtraInfo is made available through two generic methods, `Type? get<out Type>(Key<out Type> key)` and `void putVoid<Type>(Key<Type> key, Type item)`. Both of these methods perform type checks using a type parameter (e.g. `assert (is Type ret)`). Unfortunately, this pattern can be *very* slow, even for non-generic `Type`s. And even if backend improvements make this *reasonably fast*, it still may n

[2015-12-13 19:01] lucaswerkmeister commented on #108
I believe `putVoid` is called `set` :)

[2015-12-13 19:03] jvasileff commented on #108
haha. The very next method after my `putVoid()` impl, and the one after `put()`, with `put` having a `see(set)` annotation!

[2015-12-13 19:03] lucaswerkmeister commented on #108
And don’t forget the documentation on `put`!

[2015-12-13 20:38] jvasileff commented on #107
Thanks @lucaswerkmeister, this provides a very nice performance boost. After warmup for a node-counting visitor, I'm seeing seeing an improvement from 1.2.0's `79.72ms` to a new time of `41.49ms`.

Now, this compares to `14.76ms` and `14.91ms` times using a typechecker visitor as a control. More on that to come...

[2015-12-14 17:47] jvasileff commented on #108
It turns out there are many variables affecting reified generics performance, such as if `T` is a Ceylon or java type, if `T` matches *exactly* the class of the instance or if the instance is a subtype, etc.

In some initial testing, I've found that code similar to `get` with a non-generic `T` that is a Java class performs slightly faster than a HashMap lookup after warmup and at scale (11 to 13 n

[2015-12-14 18:38] lucaswerkmeister commented on #108
1. Interesting…

   I don’t see why this would be an official recommendation… wouldn’t `ceylon.ast` do this under the covers, wrapping in `put`/`set` and unwrapping in `put`/`get`? Or do you think this choice should be left to library users?

2. In principle, I’m not even opposed to adding multiple, application-specific fields like that if the application is sufficiently important (and a compiler

[2015-12-14 18:45] lucaswerkmeister commented on #108
Oh no, I see, for `get`/`put` we still need a reified test *somewhere* of course. This only applies if the type you store in the node is final. I’m a moron.

[2015-12-14 19:38] jvasileff commented on #108
I tried this out. The results were about what I expected, 3585ms vs. 2324ms. Note, this is with the *latest* Dart backend code, different than what was used for prior measurements.

This is a very nice improvement, but does not indicate a big improvement from avoiding the `HashMap`, bringing further into question my micro-benchmark results showing a near equivalence to performance cost of hash map

[2016-01-12 23:20] lucaswerkmeister commented on #108
I pushed something to branch `108` (which I’ll have to remember to rebase on `1.2.0` before merging).

[2016-01-13 23:37] #108 closed

[2016-01-13 23:38] lucaswerkmeister commented on #108
Done in branch `108` and merged into `master`.

[2016-03-06 18:14] jvasileff opened #111 "make Editor lightning quick"
Naive use of `ceylon.ast.core::Editor` is too slow to be used in a compiler. So I'd like to explore ideas to make it fast.

* Change default implementations of leaf nodes to return `that`
* Add a method `default Boolean editNode(Node node) => true;` called by default implementations of all non-leaf nodes; return `that` if `false`.
* Other?

[Here's](https://gist.github.com/jvasileff/02175a4e782fa7

[2016-03-06 18:22] jvasileff opened #112 "make Editor methods for abstract nodes non-default"
I can't see any reason for overriding transform methods for "wide" nodes. It seems that this would either be a mistake or at least be a case of very fragile code. Unless there *is* some reason to allow refinements, making them non-default will help clarify the api and reduce bugs.

The same could almost be said for `ImmediateNarrowingTransformer` too, except for that interface, it's useful to refi

[2016-03-06 18:24] jvasileff commented on #101
I don't think it's too late. My expectation is that there would be (reasonable) compatibility breaks from time to time anyway, do to the nature of the module.

[2016-03-07 04:51] jvasileff opened #113 "classDecToCeylon too strict about UIDENTIFIERs"
The typechecker lets expressions like `` `class someObject` `` slip by, but `ceylon.ast.redhat` throws.

SDK code example: https://github.com/ceylon/ceylon-sdk/blob/42f62e9ce82b35c60cf27e371f832fc672903ad8/test-source/test/ceylon/test/stubs/customTestListener.ceylon#L58-L62

The spec: http://ceylon-lang.org/documentation/1.2/spec/html_single/#declarationreferences

[code]

[2016-03-07 14:56] #113 closed

[2016-03-07 14:57] lucaswerkmeister commented on #113
Fixed, thanks!

[2016-03-07 14:58] lucaswerkmeister commented on #112
Makes sense. I guess I’ll tag this as “performance”, since non-virtual methods can be slightly faster?

[2016-03-07 15:00] lucaswerkmeister commented on #101
How about we do this in 1.3.0? That will probably include language changes and therefore be incompatible anyways.

(Of course, we can also supply a command that automatically updates source code from `compileX` to `parseX`, to aid upgrading.)

[2016-03-09 22:20] lucaswerkmeister commented on #112
Well, there’s [this](https://github.com/ceylon/ceylon.ast/blob/86faa2b1aae6d9404cce816da19860cb967bf58f/source/ceylon/ast/samples/bodyReturnRewrite/RewriteReturnsEditor.ceylon#L66-L68) in the samples.
[code]
Looks like a hand-written variation of #111, doesn’t it? However, a quick test reveals: replacing `=> that` with `=> nothing` has no effect, the test still passes. So I guess this reinforces t

[2016-03-09 22:48] jvasileff commented on #112
Precisely :smile:

[2016-03-18 16:12] lucaswerkmeister commented on #111
First bullet done. Perhaps we could do the second one in a subclass of `Editor`?

[2016-03-18 16:23] jvasileff commented on #111
Is there an advantage to having a subclass that outweighs the maintenance overhead?

I'd hazard to guess that a when using the default `editNode() => true`, the overhead of the check would not be measurable.

[2016-03-18 16:23] lucaswerkmeister commented on #111
True, but it can also be simple. I would think that often, a simple `=> is X;` or `=> is X|Y|Z;` would be enough. For known `X`, `Y`, `Z`, this would compile down to an `instanceof` test (or `instanceof || instanceof || …`), and I think I recall reading that HotSpot can often optimize `instanceof` down to a single instruction.

[2016-03-18 16:25] lucaswerkmeister commented on #111
The advantage would be to keep `Editor` a bit simpler, but I guess that’s a pretty small advantage

[2016-03-18 16:26] jvasileff commented on #111
Agreed. And, `editNode()` impls can error on the side of returning `true`, to reduce complexity.

[2016-03-18 16:26] lucaswerkmeister commented on #111
Right. So let’s add this…

[2016-03-19 17:53] lucaswerkmeister commented on #111
Second bullet also done. Should I leave this issue open for more suggestions, or close it, and you’ll open new issues for new suggestions?

[2016-03-20 13:13] jvasileff commented on #111
Great, thanks @lucaswerkmeister!

I'm still interested in any ideas/techniques anyone might have for writing fast Editors, but I'm out of improvement ideas for now, so I'll go ahead and close the issue.

[2016-03-20 13:13] #111 closed

[2016-04-08 16:21] jvasileff opened #114 "support typechecker desugaring in conversion from Redhat AST"
Desugaring performed by the typechecker results in AST that `ceylon.ast.redhat` can't handle (https://github.com/ceylon/ceylon/issues/4406#issuecomment-202126439):

[code]

[2016-04-08 16:23] jvasileff commented on #114
In more limited cases, like for Conditions, `ceylon.ast.redhat` "re-sugars" the tree. But, perhaps for these more aggressive de-sugarings, it would be easier/more expedient to just accept the modified tree?

The downside is that the resultant Ceylon AST would not represent the original program structure.

[2016-04-08 16:46] lucaswerkmeister commented on #112
1. I forgot to update source-gen.
2. This should be done for aliases as well, right?

[2016-04-08 17:00] jvasileff commented on #112
WDYM? Not things like `ClassAliasDefinition`, right?

[2016-04-08 17:01] lucaswerkmeister commented on #112
No, the precedence aliases like `AssigningExpression`, `DisjoiningExpression` etc.

[2016-04-08 17:19] jvasileff commented on #112
Oh, yeah, that makes sense.

[2016-04-08 18:06] lucaswerkmeister commented on #112
Oh, and this also breaks the automatic sorting of source-gen, since methods with and without `default` are mixed :/

[2016-04-08 18:06] lucaswerkmeister commented on #112
Alright, done now.

[2016-04-08 18:06] #112 closed

[2016-04-08 23:06] lucaswerkmeister commented on #114
I think I’d prefer to resugar this as well. Or would the desugared version be significantly easier to implement for you?

[2016-04-08 23:25] jvasileff commented on #114
In theory, the desugared version requires no work on my part (I think the JVM and JS backends got this feature "for free".)

Going forward, re-sugaring will result in triple work. So I'm not sure that's a great idea, especially if this is going to occur more often. OTOH, maybe it is important to be able to perform transformations, pretty-print, etc. when starting with a RH AST.

Perhaps @gavinking

[2016-04-08 23:26] jvasileff commented on #114
Maybe it would be best to do both (if re-sugaring is desirable), and have re-sugaring be controlled by a flag.

[2016-04-08 23:27] lucaswerkmeister commented on #114
Well we still have [this problem](https://github.com/ceylon/ceylon/issues/4406#issuecomment-202370931) with the `_0` names. I feel like one viable solution might be to discard the desugaring approach in the backend and instead just make the backends support it, just like they support destructuring in loops as well (even though that too could be desugared).

[2016-04-09 10:55] gavinking commented on #114
If it makes a difference: I see the current implementation as temporary. It would be much better if we eventually *stopped* desugaring this syntax and passed the original AST straight to the backends.

[2016-04-18 17:36] jvasileff commented on #114
@lucaswerkmeister after thinking about this, I'd prefer the type checker's version of the tree, even if re-sugaring is done for other purposes.

It does, for some hard to explain reason, seem "cleaner" to go through re-sugaring. But it adds work and unnecessarily serializes development. Furthermore, I'd like to refactor the Dart compiler so it performs a large backend-neutral de-sugaring (post-typ

[2016-04-18 19:58] lucaswerkmeister commented on #114
Well if @gavinking plans to remove the current implementation, what should I do? Re-de-sugar and also mock up type information for the new variables?

[2016-04-18 20:11] jvasileff commented on #114
Haha, no, I think at that point all the backends will have to deal with it.

But `ceylon.ast.redhat` would have to support patterns in that position, and I suppose has to now as well, since it may consume RH ASTs that haven't been type checked/de-surgared.

I guess the issue is that non-backend users of `ceylon.ast` may have different needs when using an `ast` that started as a type-checked typech

[2016-06-23 14:58] jvasileff opened #116 "ast destructuring syntax more restrictive than typechecker's"
The type checker allows:

[code]
where we really want `case ([String a, String b]) {...}`, but ceylon.ast throws:
[code]

[2016-06-23 15:04] jvasileff commented on #116
See also https://github.com/ceylon/ceylon/issues/6330, which makes use of this syntax.

[2016-06-23 17:13] lucaswerkmeister commented on #116
Wait, why is this an `isCase`?

[2016-06-23 17:14] gavinking commented on #116
Because it gets desugared.

[2016-06-23 17:17] lucaswerkmeister commented on #116
But there’s no `is` token. Is this in the spec?

[2016-06-23 17:20] gavinking commented on #116
What? Why would desugaring be in the spec?

[2016-06-23 17:23] lucaswerkmeister commented on #116
What, since when is it not the spec’s job to describe the full and complete language and everything that users can do in it? What do I care that it’s a desugaring? `exists` and `nonempty` conditions could also be implemented as simple desugaring (`is Object` and `is Sequence<Anything>`), how the compiler actually does it is an implementation detail that shouldn’t matter to the spec.

[2016-06-23 17:35] gavinking commented on #116
I've no idea who you're arguing with.

[2016-06-23 17:39] lucaswerkmeister commented on #116
You, since you seem to be saying that the `case ([a,b])` syntax doesn’t need to be documented in the spec. Or did I misunderstand that?

[2016-06-23 17:39] gavinking commented on #116
Where on earth did I say that?!

[2016-06-23 17:42] gavinking commented on #116
@lucaswerkmeister do you know what "desugaring" means?

[2016-06-23 17:43] lucaswerkmeister commented on #116
I might have misinterpreted “why would desugaring be in the spec” as “why would the spec tell you how to desugar this”, i. e. “why would sugaring be in the spec”. Not sure :D

In any event… do you plan to add this syntax to the spec? Is it already there and I’m not seeing it?

[2016-06-23 17:44] gavinking commented on #116
Look, _none_ of the new destructuring functionality in 1.2.3 (in `case`, or in anon function parameter lists) is covered at all in the spec yet, which is one reason why the relevant issues have not yet been closed.

But the desugaring of a `PatternCase` to an `IsCase` followed by a `Destructure` is not likely how I will define it when I get around to writing it up. Instead, the spec will define a

[2016-06-23 17:45] gavinking commented on #116
FTR, I don't even love this implementation strategy. I did it this way (i.e. using desugaring) only because I didn't want to impact the backends.

[2016-06-23 17:48] lucaswerkmeister commented on #116
This is also how I would prefer to model it in `ceylon.ast`. But if I add that now, I’ll probably have to change it once you write the spec for it (to keep the two in sync), which is why I usually wait for the spec before adopting changes in `ceylon.ast`. (#114 is pretty much the same situation afaict, right up to the point where it seems [you don’t love the current implementation strategy](https:

[2016-06-23 17:50] gavinking commented on #116
Many times I have argued with @FroMage that we should not implement things using desugaring because it's bad for tools. Information is lost.

[2016-06-23 17:57] jvasileff commented on #116
Looking into this further, `case ([String a, String b]) { }` *does* work, and the rh-ast is:

[code]

but with `case ([String a, String b]) { }`, the rh-ast isn't as complete:
[code]

*Maybe*, the fix for this and https://github.com/ceylon/ceylon/issues/6330 are the same.

[2016-06-23 18:15] jvasileff commented on #116
Regarding the overall approach, it might be nice to typecheck without de-sugaring, and then have an extra de-sugaring visitor (for each feature) that can optionally be used by the backends.

[2016-07-19 14:13] lucaswerkmeister opened #117 "Extend extended type syntax"
For Dart support, we should allow:

- [ ] `extends A.B()`. Here, `B` is an inner class of `A`, so this is an `Extension`, not a `Construction` with an uppercase constructor name. (Presumably, `A.B.C.D()` etc. is also allowed?)
- [ ] `extends A.B.c()`. This is a `Construction` – `c` is a constructor of `A.B`.

See also ceylon/ceylon#6377.

[2016-07-19 14:18] jvasileff commented on #117
Yes. This typechecks:

`JavaA.java`
[code]
`run.ceylon`
[code]

[2016-07-19 14:19] lucaswerkmeister commented on #117
I’m asking if it’s allowed in Dart – the Java backend doesn’t use this module :)

[2016-07-19 14:25] jvasileff commented on #117
But people who use the Java backend do use this module!

I don't currently plan to use more than one level of type nesting (i.e. `A.B()`) in Dart. Dart doesn't actually support inner classes, but I'm "manufacturing" them when generating inerop models (https://github.com/jvasileff/ceylon-dart/issues/8#issuecomment-186280615)

[2016-07-19 14:26] lucaswerkmeister commented on #117
Are you going to be analyzing Java-backend code with `ceylon.ast`? I’m pretty sure this is not the only Java interop feature `ceylon.ast` doesn’t support…

[2016-07-19 14:28] jvasileff commented on #117
Yes. I'd like to be able to compile all valid Ceylon code, since there might be:

[code]

(granted, it's unlikely that code will actually exist)

Does `ceylon.ast` not support all of Ceylon 1.2.2 syntax?

[2016-07-19 14:30] lucaswerkmeister commented on #117
It supports all Ceylon 1.2.2 syntax *in the spec* (as far as I know). The JVM backend goes quite a bit beyond that, and I don’t really see why I have to support all of that if this module isn’t part of the JVM backend.

[2016-07-19 14:32] jvasileff commented on #117
Ok. I just wasn't aware of anything that ceylon.ast doesn't support. But I would argue, if there is something, it should support it. Beyond compiling Dart, I might want to use `ceylon.ast` for a code generator that needs to output `extends JavaA.B.C.D()`.

[2016-07-28 00:16] jvasileff opened #118 "unwanted AssertionError; KeySubscript.key type too narrow"
The `ElementOrSubrangeExpression` in the line below:
[code]
is represented by the following redhat ast:
[code]
but fails to convert to `ceylon.ast`:
[code]
since (I assume) `ElseOperation` is not assignable to `AddingExpression`.

[2016-07-28 00:35] lucaswerkmeister commented on #118
Hrm. I think all the `RangeSubscript` subtypes have `AddingExpression` children because they’re equivalent to `SpanOperation`

[2016-07-28 11:39] gavinking commented on #118
§6.8.7 says:

[2016-07-28 11:48] gavinking commented on #118
Oh, I see. You're saying that strictly speaking this restriction should also apply to the lookup operator. You're right, it should, if we wanted to be really pedantic about this, but I'm not terribly motivated to add such a restriction. As you say, it's easy and harmless to resolve the ambiguity in favor of the interpretation as a subrange operator, rather than as a lookup operator applied to a ra

[2016-07-28 14:38] lucaswerkmeister commented on #118
Thanks, then I’ll change `KeySubscript` to allow this.

[2016-07-28 16:52] #118 closed

[2016-07-28 16:55] jvasileff commented on #118
Thanks!

[2016-09-04 15:13] lucaswerkmeister commented on #117
Actually, I get a syntax error for this:

[code]
error: incorrect syntax: no viable alternative at token end of file

@jvasileff is `A.B.c()` something that makes sense in Dart, or should I only add support for `A.B.C()`?

[2016-09-04 15:20] jvasileff commented on #117
@lucaswerkmeister I think we can do without `A.B.c()` since:

* Dart doesn't have inner or nested classes
* Java doesn't have named constructors
* Ceylon doesn't have static members

[2016-09-04 15:22] jvasileff commented on #117
Wait, forget what I just said!

Of course, I'm making fake member classes. Seems like this is needed. Lemme take a closer look.

[2016-09-04 15:23] lucaswerkmeister commented on #117
Sure. It’s not like I just discarded the related part of my working tree :(

[2016-09-04 15:24] jvasileff commented on #117
Oh that stinks.

[2016-09-04 15:24] lucaswerkmeister commented on #117
Well, it was only a few lines, I hadn’t gotten to the RedHat transformation yet.

[2016-09-04 15:41] lucaswerkmeister commented on #117
Alright, the `Extension` half is ready… shall I commit it now and we’ll see later if that’s enough to close this issue?

[2016-09-04 15:42] jvasileff commented on #117
Ok, I see the syntax error too. For reference:

[code]

I guess it's really up to @gavinking if he'd like to support this. The workaround for extending a Dart named constructor, which isn't too bad, is to use an `import` alias.

[2016-09-04 15:42] jvasileff commented on #117
@lucaswerkmeister great! Sounds good.

[2016-09-04 15:46] #117 closed

[2016-09-05 22:22] jvasileff opened #119 "support typechecker generated identifiers that contain `$`"
The typechecker may create identifiers with `$` while de-sugaring, but since `$` is not a valid for Ceylon identifiers, `ceylon.ast.redhat`/`ceylon.ast.core` will throw.
See https://github.com/ceylon/ceylon/commit/a65b81e363da72989a854abd8b9dbb2171fe0de4#commitcomment-18904016.

[2016-09-05 22:26] lucaswerkmeister commented on #119
Okay, how about this: `LIdentifier` will accept identifiers that begin with `$pattern$param$` (see https://github.com/ceylon/ceylon/commit/27d27b7d8de067eaa34bbe8b4e9b1eaa0d2a7026) only if the immediate caller (via exception stack trace) is the appropriate `ceylon.ast.redhat` function, called via the parameter convert function. In all other situations, such names continue to be rejected – if the t

[2016-09-05 22:28] jvasileff commented on #119
way too slow. How about `$`s are allowed if the identifier starts with `some_rare_unicode_char` that will be added by `ceylon.ast.redhat` and stripped by `ceylon.ast.core`.

[2016-09-05 22:30] lucaswerkmeister commented on #119
Perhaps. Something from one of the private use areas, then. But I’d still restrict this to the very specific pattern `$pattern$param$*`.

[2016-09-05 22:32] jvasileff commented on #119
It's the same to me either way, but I think the potential for abuse is near zero, but there may be more `$` scenarios in the future.

[2016-09-05 22:47] jvasileff commented on #119
See https://github.com/ceylon/ceylon/commit/899a41e77adaa87554127c8469563816f95fd441 for updated prefix w/counter.

[2016-09-05 23:03] gavinking commented on #119
Actually I reverted that commit. :)

[2016-09-06 00:59] lucaswerkmeister commented on #119
Alright, so on Gitter we decided to add a second constructor to `LIdentifier` (and also `UIdentifier`, I guess), probably called `internal`, which also allows `$` in identifiers. `Identifier` would also gain a `Boolean` flag to distinguish between internal and non-internal identifiers.

(Should it *require* at least one `$` in the identifier? In an attempt to ensure that internal and non-internal

[2016-09-06 01:14] jvasileff commented on #119
I would say no, since it seems like a restriction without a clear benefit or standard use. But also, while it seems to make sense to reify the constructor, I can't really think of a use for it.

[2016-09-06 01:24] jvasileff commented on #119
Actually, maybe it should indicate whether the identifier is valid, independent of the constructor used. That seems more useful to me, to help you determine if an AST is valid.

[2016-09-08 18:31] jvasileff commented on #119
@lucaswerkmeister the latest patch works great. Thanks!

[2016-09-08 18:31] lucaswerkmeister commented on #119
I actually remembered that it’s incomplete… the flag is missing, and `RedHatTransformer` should probably not generate tokens for internal identifiers, right?

[2016-09-08 18:37] jvasileff commented on #119
Should the flag just be a computed property that returns `true` if the identifier is valid?

Regarding tokens, I'm not convinced their presence or absence is or should be an indicator of anything. But since I haven't done any codegen or desugaring with ceylon.ast yet, I guess I don't have strong argument to make.

[2016-09-08 20:14] lucaswerkmeister commented on #119
Well, the absence of the token is how `identifierToCeylon` detects that it should use the `internal` constructor. So if the conversion should be lossless both ways, then the flag needs to record which constructor was used, and `RedHatTransformer` needs to set `text` without assigning a token.

[2016-09-08 20:29] jvasileff commented on #119
Why not always use `internal`? I'm just not convinced that `exists token` is exactly the same as "is synthetic".

[2016-09-09 16:50] lucaswerkmeister commented on #119
I’d still like to keep these two things completely separate:

- Regular identifiers, from user code (therefore with a token in the RedHat AST), without any dollar signs.
- Internal identifiers, from the compiler (therefore without a token – which is a reasonable assumption IMO, because it’s cumbersome to create a valid token, calling the constructor isn’t enough, so I don’t see why the compiler wo

[2016-09-09 17:08] jvasileff commented on #119
I don't know if this makes sense yet, but to preserve some original program text in early de-sugaring stages of backend compilation with the goal of providing better error messages, IDE support, sourcemaps, etc.

But for that to be achieved, you are placing a burden on clients to always use the right constructor, even when imperfect information is available (i.e. typechecker de-sugaring *if* a tok

[2016-09-09 17:16] lucaswerkmeister commented on #119
Okay, I can see that you might want to create tokens for source maps and such.

I still don’t see how you would be in a situation where you don’t know which constructor to use. If you don’t know that, how do you make sure that your new identifier doesn’t collide with a user-specified name? The `$` is your protection against that!

If `internal` doesn’t enforce the `$` constraint, and the flag does

[2016-09-09 17:25] jvasileff commented on #119
Because I use utility functions for stuff, similar to your `ceylon.ast.create`, that could possibly instantiate identifiers from a `String`. But yes, if an identifier is created from scratch, it has to be done carefully.

I thought it was to keep the "regular user" api strict. But yeah, I don't really know how important that is.

[2016-09-09 17:26] lucaswerkmeister commented on #119
Well, who is the regular user? It sounds like both `ceylon.ast.redhat` and your Dart backend will exclusively use `internal`… :)

[2016-09-09 17:29] jvasileff commented on #119
I mean someone using `ceylon.ast` for code generation for their enterprise application or something. But yes, I'd just want to use `internal`.

[2016-09-09 17:34] lucaswerkmeister commented on #119
I guess that still makes sense, okay. So two constructors, a `valid` flag, `*identifierToCeylon` always uses `internal`, `create` always uses the regular constructor.

[2016-09-09 17:38] lucaswerkmeister commented on #119
Hm, I guess `internal` will have to get the `prefixed` parameter as well.

[2016-09-09 18:23] lucaswerkmeister commented on #119
New version pushed.

[2016-09-11 17:32] lucaswerkmeister commented on #119
@jvasileff any comments before the release tomorrow?

[2016-09-11 17:34] lucaswerkmeister commented on #114
This is now covered by #116 and #119, isn’t it?

[2016-09-11 17:50] jvasileff commented on #114
@lucaswerkmeister if you're happy with the commits above, I think we're good on this one!

[2016-09-11 17:50] lucaswerkmeister commented on #114
Alright, thanks.

[2016-09-11 17:51] jvasileff commented on #119
Oh cool, we get a same-day `ceylon.ast` release?!

I'll give the patch a try.

[2016-09-11 17:52] lucaswerkmeister commented on #119
Well, I’ll try my best… :) though I suppose the formatter is more important, and the release takes a bit with the reproducible build.

[2016-09-11 18:48] jvasileff commented on #119
@lucaswerkmeister the patch works for me, and looks great aside from the missing `!`. Thanks!

[2016-09-11 19:02] lucaswerkmeister commented on #119
Alright, then with the latest version we’re done!

[2016-09-11 19:02] #119 closed

[2016-09-11 19:04] lucaswerkmeister commented on #114
Wait, which commits above? I think I’ve lost track. Are there some commits in your fork that need to move over into this one? #116 isn’t fixed, right?

[2016-09-11 19:17] jvasileff commented on #114
Tokens are no longer required after f2c2b33e2d7d and bac9ff47de, which I think covers the original error.

[2016-09-11 19:19] lucaswerkmeister commented on #114
Oh I see, those PRs got merged. Then I guess we can close this now.

[2016-09-11 19:19] #114 closed

[2016-09-11 20:23] jvasileff commented on #116
Aside from having the typechecker produce a valid Redhat AST, I don't think any of the discussed options are all that great.

And I really wouldn't look forward to trying to have the Dart backend reverse engineer `ceylon.ast`s reverse engineering of the typechecker's desugaring, with none of that work being held to any standard of quality or guaranteeing compatibility across releases.

For my purp

[2016-09-11 20:28] jvasileff commented on #116
Besides, it might be nice for me to have code that is known to blow up the backend for use when testing error handling in tools 😄

[2016-09-12 13:24] lucaswerkmeister commented on #101
Well, 1.3.0 is coming up fast, so let’s see if we can’t get this done!

[2016-09-12 14:06] #101 closed

[2016-09-12 14:06] lucaswerkmeister commented on #101
By the way, this also reduces `.car` size by 1.9% ;)

[2016-09-15 18:08] jvasileff opened #120 "permit empty elements in ImportElements"
Basically, I think, remove from `ImportElements`:

[code]

The problem I ran into was that for JavaScript and Dart, the following:
[code]
is "valid enough" to pass type checking and compile without error (and does, indeed on JS), since `java.nio` is ignored since it is `native("jvm")`. The "Import elements may not be empty" error is not a `RecognitionError`.

See also https://github.com/ceylon/cey

[2016-09-15 18:09] jvasileff commented on #120
Thinking out loud, I wonder what *other* problems like this I might run into.

Currently, if there are typechecker errors, I don't attempt to create a `ceylon.ast`. This protects me from `AssertionError`s, *mostly*.

[2016-09-18 20:41] lucaswerkmeister commented on #120
Should I do this in 1.3.0?

[2016-09-18 21:00] jvasileff commented on #120
I vote yes!

[2016-09-18 21:07] #120 closed

[2016-09-22 18:53] jvasileff opened #121 "too picky about precedence (violated is AssigningExpression right)"
The typechecker accepts

[code]
but `ceylon.ast` throws:
[code]

[2016-09-22 19:21] lucaswerkmeister commented on #121
It looks like the parser accepts any expression to the right-hand side of any assigning expression (including `+=`), so precedence just doesn’t exist on the rhs apparently.

[2016-09-26 14:29] jvasileff opened #122 "allow mix-and-match U/LIdentifiers for ImportElements"
I have it on [good authority](https://github.com/ceylon/ceylon/issues/4314#issuecomment-156661668) that the following is valid Ceylon:

[code]

but `ceylon.ast.redhat` rejects this:

[code]

[2016-09-26 15:38] lucaswerkmeister opened #123 "Should ceylon.ast comply with the compiler instead of the specification?"
The `ceylon.ast.core` module documentation says:

[spec]: https://ceylon-lang.org/documentation/1.3/spec/html_single/

Should we abandon this, and instead seek compliance with the compiler?

If yes: how far do we go? The module documentation cites the example of empty resource lists for `try`, which are permitted by the grammar so that the compiler can give you a better error message than a syntax

[2016-09-26 15:38] lucaswerkmeister commented on #122
The comment you cite also says:

And as I’ve explained [before](https://github.com/ceylon/ceylon.ast/issues/117#issuecomment-233650976), `ceylon.ast`’s *current* goal is to reflect the specification, not necessarily all the interop extensions the compiler also supports. Feel free to discuss that in #123, but this issue (#122) is not currently a bug.

[2016-09-26 15:50] jvasileff commented on #123
My thoughts:

* For `ceylon.ast` to be used for a backend, it's important that it accept everything that passes through the typechecker without error. This includes code written for all backends, due to how `native` works.
* For other proposed uses, such as https://github.com/ceylon/ceylon/issues/1865, it seems the same
* There don't seem to be *that many* deviations from the spec. I've reported a

[2016-09-26 15:52] lucaswerkmeister commented on #123
I assume that you don’t want to accept `try ()` and suchlike? Because there’s a lot more of cases like that.

[2016-09-26 15:53] jvasileff commented on #123
To be clear, I mean within reason, and for things that aren't considered bugs-that-will-be-fixed in the typechecker.

[2016-09-26 15:54] jvasileff commented on #123
`try ()`?

[2016-09-26 15:56] lucaswerkmeister commented on #123
Yes, because that gets you an

instead of an

which is what the “how far do we go?” question in the issue is about.

[2016-09-26 16:08] jvasileff commented on #123
I see. I'm not currently exposing `ceylon.ast` to trees that have errors, recognition or otherwise.

Except... I am concerned about what to do about `native(other)` declarations that have errors like that, since I'm currently ignoring errors that don't apply to Dart. Its unclear to me if the ones I should care about can be distinguished from those that can't. This is a tricky problem:

[code]
cras

[2016-09-26 16:30] jvasileff commented on #123
@lucaswerkmeister I propose we resolve this issue by saying that "within reason" `ceylon.ast` should accept whatever the typechecker accepts without error, for any backend, after full typechecking.

Hopefully some form of pre-processing or filtering can address issues with allowing errors in `native("other")` declarations, but that seems like a separate issue.

Tell me if I'm wrong, but it seems t

[2016-10-08 11:27] welopino opened #124 "Documentation and Example needed: How to compile an AST to javascript or java bytecode."
Please provide documentation on how to perform an AST transformation within the normal process of parsing typechecking optimizing and bytecode generation - most importantly on how to feed an AST into typechecking and compilation.

[2016-10-10 01:37] #121 closed

[2016-10-10 01:41] lucaswerkmeister commented on #122
Okay, so when we go through with #123, how should this be fixed?

- Completely merge the `ImportType-` and `ImportFunctionValue-` subclasses of the no-longer-`abstract` `ImportElement` and `ImportAlias`. There is only one kind of import element, and both sides can be uppercase or lowercase identifiers.
- Merge the `ImportAlias` subclasses, but keep the `ImportElement` classes separate. There are s

[2016-10-10 02:27] lucaswerkmeister commented on #123
@jvasileff opinions on fe3a0e2?

[2016-10-10 02:35] jvasileff commented on #123
@lucaswerkmeister I think that looks great 👍

[2016-10-10 02:35] lucaswerkmeister commented on #123
Alright, then let’s close this issue :)

[2016-10-10 02:35] #123 closed

[2016-10-10 19:24] jvasileff commented on #122
IIUC, option 2 suggest a semantic difference between `ImportTypeElement` and `ImportFunctionValueElement` where none exists, since a) as we've established the case doesn't matter when the import is aliased, and b) the typechecker doesn't even care about the case when not aliased:

[code]
I believe the only thing that is actually checked by the typechecker is `ImportAlias.identifier`.

So it seems

[2016-10-10 20:21] lucaswerkmeister commented on #122
Hm, I assumed that the typechecker established this semantic difference at least on the left-hand side, that is:
[code]
I don’t think keeping the aliases separate is worth much, so option 1 it is, I suppose.

[2016-10-16 15:28] jvasileff opened #125 "allow Tuple MatchCase for new switch on tuple feature"
`MatchCase`s with `Tuple`s literals like `case ([1, 2])` are now supported by the typechecker. See https://github.com/ceylon/ceylon/issues/4127#issuecomment-246292682

[2016-10-16 20:18] lucaswerkmeister commented on #125
Fix on branch `tupleMatchCase`, awaiting merge of ceylon/ceylon branch `4127`.

[2016-10-16 20:18] jvasileff commented on #125
👍

[2016-10-16 20:18] lucaswerkmeister commented on #125
(Note to self: don’t forget to add this to the CHANGES wiki page when merged. I don’t want to do that yet in case something changes.)

[2016-10-27 19:38] lucaswerkmeister opened #126 "Support nested imports"
See ceylon/ceylon#6646. They’re only allowed at the start of the compilation unit / body / block, so those should get separate `Import[] imports` members, not the type of `declarations` changed to include `Import`.

[2016-10-29 23:21] sadmac7000 opened #127 "Equality broken"
These two nodes test as equal when they are different.

[code]

[2016-10-29 23:35] #127 closed

[2016-10-29 23:35] lucaswerkmeister commented on #127
Thanks, fixed. I have no idea how that happened – `WithinOperation.equals` hasn’t been touched since the node was added in ea64dbbd, which I’m pretty sure was auto-generated code.

[2016-11-24 00:00] lucaswerkmeister commented on #126
Fixed on branch `nestedImports`. (As with #125, don’t forget to update `CHANGES` when merging.)

[2016-11-25 19:46] #125 closed

[2016-11-25 19:46] #126 closed

[2016-11-25 20:42] lucaswerkmeister commented on #122
LOL, look what I wrote [two years ago](https://github.com/ceylon/ceylon-spec/issues/323#issuecomment-51599423):

[2016-11-25 21:09] lucaswerkmeister commented on #122
Done on branch `mergeImports`.

[2016-11-26 12:10] lucaswerkmeister commented on #124
Well, I’ve never compiled a `ceylon.ast` AST to CAR or JS before, so I can’t tell you how to do this yet… there’s a test that feeds two compilation units into the typechecker ([`powerOfTwo.ceylon`](https://github.com/ceylon/ceylon.ast/blob/f3250ded78c8c31e97453038457ef0ee425b9d92/source/test/ceylon/ast/samples/turingMachine/powerOfTwo.ceylon#L133-L222)), but I haven’t tried to hook that up to a ba

[2016-11-26 17:02] lucaswerkmeister commented on #122
And now merged into `master`.

[2016-11-26 17:02] #122 closed

[2016-11-26 23:10] lucaswerkmeister opened #128 "Add support for artifact id in module import"
See ceylon/ceylon@3599380cf3ef55ffa55ca9eed91bfb132c353d77 and ceylon/ceylon@81381228821bf7801fb35d9c1371fc9db74e20d0. Also, consider renaming `repositoryType` to just `repository` now that there’s a spec for it.

[2017-01-22 21:49] lucaswerkmeister opened #129 "Add support for namespace, group and artifact in module descriptor"
See ceylon/ceylon@cf165b07dade3505b6ea951cb6cdfded071dab15, ceylon/ceylon#6872 and #128.

[2017-02-07 21:37] jvasileff opened #130 "bad example in docs for MemberMeta"
This isn't (currently) allowed:

[code]
see https://modules.ceylon-lang.org/repo/1/ceylon/ast/core/1.3.1/module-doc/api/MemberMeta.type.html

FTR, `\Isystem.milliseconds` is accepted, if someone really wanted to do that...

[2017-02-07 23:30] lucaswerkmeister commented on #130
Huh, yeah, `system` is clearly not a `PrimaryType`… not sure where I got that from.

[2017-02-08 22:30] lucaswerkmeister commented on #130
Actually, there is a test for `` `\Isystem.milliseconds` ``… but I think I still prefer to remove the example altogether than to fix it like that.

[2017-02-08 22:31] #130 closed

[2017-02-24 20:23] lucaswerkmeister opened #131 "Add support for interpolated assertion messages"
See ceylon/ceylon#3692 and ceylon/ceylon@ce9eb29b4306a01734811bc2833092eefb4f2d46.

[2017-02-24 20:32] lucaswerkmeister commented on #131
The typechecker change in `Ceylon.nodes` is very simple, though slightly odd: *any* anonymous annotation (doc string) can now be a string template instead, and assertions still have a full annotation list. However, the grammar doesn’t actually produce this: due to the way the lookahead rules are written, declarations still can’t be documented with string templates, and assertions can no longer hav

[2017-02-24 21:11] lucaswerkmeister commented on #131
`StringLiteral|StringTemplate?` of course, to allow a missing message.

[2017-02-24 22:05] lucaswerkmeister commented on #131
@jvasileff now the discussion’s *really* over ;)

[2017-02-24 22:26] jvasileff commented on #131
Given the apparent finality of the matter, I'm glad you made the message optional, benefiting the lazy non-documenting types.

[2017-02-24 22:27] lucaswerkmeister commented on #131
Well if there’s anything wrong with the design we can still change it of course… anything standing out to you?

[2017-02-24 22:29] jvasileff commented on #131
No :)

[2017-02-25 19:34] lucaswerkmeister commented on #128
Done in branch `128`.

[2017-02-25 21:12] lucaswerkmeister commented on #131
Reopening since we now have a spec for this (https://github.com/ceylon/ceylon/commit/e1d977be9c46941e93b4d23e89dd908147a53e84) and so the names are wrong :(

[2017-02-25 22:06] #131 closed

[2017-02-27 15:50] jvasileff opened #132 "Include source code in published ceylon-docs"
If I'm not mistaken, this would mean changing the doc gen command to:

    ceylon doc --source-code ceylon.ast.{core,create,redhat,samples}

in https://github.com/ceylon/ceylon.ast/wiki/Release-process

[2017-02-27 18:48] lucaswerkmeister commented on #132
Oh, I need to do something for that? I thought it used the uploaded source archive…

[2017-03-11 21:36] #128 closed

[2017-03-11 21:36] #129 closed

[2017-03-11 21:47] lucaswerkmeister opened #133 "Use ModuleSpecifier in ModuleImport"
The culmination of #128 and #129, in a way – when I implemented #128, we didn’t have a spec for #129 and `ModuleSpecifier` yet, and when I implemented #129, I didn’t notice that `ModuleImport` had also been updated again to use `ModuleSpecifier` too.

[2017-03-13 16:45] #133 closed

[2017-03-24 22:27] lucaswerkmeister commented on #132
Done, thanks for the info! I’ve also added `--source-code` to the `ceylon doc` invocation in the release document, so hopefully this shouldn’t be an issue next time either.

[2017-03-24 22:27] #132 closed

[2017-04-04 22:46] lucaswerkmeister opened #134 "Add support for `of package.foo`"
See ceylon/ceylon#4368 and ceylon/ceylon@7a102d2b45871ebf8dadc7655d69fa697e2a19ab.

[2017-04-15 15:29] lucaswerkmeister commented on #134
Ouch, this even broke the build…

[2017-04-15 16:22] lucaswerkmeister commented on #134
I feel like a better way to implement `package.stuff` would be to remove the `Package` node as a separate `Expression`, and instead nest it inside a `BaseExpression` (either as a flag, or as an optional, contained `SelfReference`). `package.foo` would be a `BaseExpression` instead of a `QualifiedExpression`, which makes it automatically legal in case types and similar situations. WDYT @gavinking @

[2017-04-15 16:29] gavinking commented on #134
Sure, I agree, that's better. It's what I do for types.

[2017-04-15 16:34] jvasileff commented on #134
I suspect that would be slightly better from the perspective of writing a backend. What I have now is this pattern in a couple places:

[code]

[2017-04-15 17:04] lucaswerkmeister commented on #134
Oh, I didn’t even realize that `package` isn’t even a `SelfReference` per the spec, so changing this wouldn’t even depart from the spec that much. I guess it would just be removing `Package` altogether and instead sticking a `PackageQualifier` in a `BaseExpression`.

[2017-06-17 21:36] lucaswerkmeister opened #135 "Add support for Maven classifiers"
See ceylon/ceylon#6638 and ceylon/ceylon@e8b7c9b5d98a5ba7afeae0186e740d5170380abf (grammar changes are near the end of the diff), ceylon/ceylon@b73af7e2ac4c429dc55c6b4785c5ff1680bd8cc7 and ceylon/ceylon@5037adea8e81d0c8cf0ae00f7aac1b6e1b2af084.

[2017-07-29 16:54] jvasileff commented on #134
+1 for this feature!

Compilation currently fails with:

[code]

[2017-07-29 17:01] jvasileff commented on #134
For now my incredibly awesome workaround is:

[code]

[2017-08-21 20:00] lucaswerkmeister opened #136 "Add support for version constant interpolation in module descriptor"
See ceylon/ceylon#7157.

[2017-08-22 08:21] lucaswerkmeister opened #137 "Add support for `else case`"
See ceylon/ceylon#6806.

[2017-08-24 21:26] lucaswerkmeister opened #138 "Add support for new destructuring syntax"
See ceylon/ceylon#7220.

Question: What do we do about the old syntax? Apparently the compiler still supports it for a while; do we want to have two kinds of destructuring expressions in the AST?

[2017-08-24 21:26] lucaswerkmeister opened #139 "Add support for new meta syntax"
See ceylon/ceylon#7218. (TODO: Add 1.4.0 milestone once 1.3.3 is out.)

Same question as in #138 – do we want to continue supporting the old syntax for a while?

[2017-09-07 19:22] lucaswerkmeister opened #140 "Add suport for unified value/type case syntax"
See ceylon/ceylon#4402.

[2017-09-07 19:37] lucaswerkmeister opened #141 "Add support for new string interpolation syntax"
See ceylon/ceylon#7243.

[2017-09-10 18:38] lucaswerkmeister opened #142 "Add support for new anonymous function syntax"
See ceylon/ceylon#7190.

[2017-09-19 21:37] lucaswerkmeister opened #143 "Emit \i / \I identifiers with prefix"
The parser used to strip away the `\i` / `\I` prefix, now it doesn’t anymore (see eclipse/ceylon.formatter#144 and eclipse/ceylon@4c45a73508). I assume the `RedHatConverter` used to mimic the old behavior, so now it needs to mimic the new one. Probably in the other direction too.

[2017-09-28 14:19] lucaswerkmeister commented on #137
Done for switch statements, but the compiler also supports it for switch expressions.

[2017-09-28 14:20] lucaswerkmeister commented on #134
I’ve added your workaround for now (with you as Git author, since I literally just pasted your diff into `git apply`). Thanks for the suggestion! Hopefully I’ll get around to a proper fix at some point…

[2017-10-03 15:30] #137 closed

[2017-11-18 17:08] #135 closed

[2017-11-18 17:57] lucaswerkmeister commented on #136
I think there are two steps to this (ideally in separate commits):

- Add support for *declaring* constants in the module descriptor. I suppose it’s just an optional (default-empty) `ValueDeclaration[]` in the `ModuleBody`, with an assertion that the declarations’ `type` is a `ValueModifier`, their `annotations` are empty and their `definition`s’ `expression`s are `StringLiteral`s.
- Add support f

[2017-11-19 17:15] #136 closed

[2017-11-19 17:16] lucaswerkmeister commented on #134
I’m postponing this issue, because it’s not clear to me what the proper fix should look like and I don’t want to block the 1.3.3 release any longer.

[2018-04-01 09:45] lucaswerkmeister opened #145 "Update references to RedHat"
Referring to the compiler as “the RedHat compiler” doesn’t really work anymore, following the migration to the Eclipse foundation. Do we call just say “Eclipse” instead now (e. g. “an Eclipse AST `AndOp`”)? Or is there some better name we can use?

Scope:
- `ceylon.ast.redhat`, `test.ceylon.ast.redhat` module names
- `RedHatTransformer` class name
- documentation comments scattered around `ceylon.

[2018-04-18 22:49] lucaswerkmeister commented on #145
On the other hand… Ceylon isn’t Java. I don’t have the impression that there are chances of a different, independent compiler for Ceylon coming up anytime soon. So perhaps it would make sense to ignore the vendor and just talk about “**the compiler AST**”. Does that sound reasonable?

[2018-04-18 22:50] gavinking commented on #145
Yes, *definitely*.

[2018-04-18 23:00] lucaswerkmeister opened #146 "Add support for “pipe” operator"
`|>` is a new binary left-associative operator with a precedence at the end of Layer 1, weaker than `..`/`:`/`->` but stronger than `exists`/`nonempty`. See eclipse/ceylon@4c0288b45ae908ab91b00b25f889b0c380df30bd for spec.

(TODO: verify that the super-low-precedence hacks which were discussed at some point are no longer in effect.)

[2018-04-18 23:00] lucaswerkmeister opened #147 "Add support for function composition operator"
`>|>` is a new binary left-associative operator with a precedence at the end of Layer 1, weaker than `..`/`:`/`->` but stronger than `exists`/`nonempty`. See eclipse/ceylon@4c0288b45ae908ab91b00b25f889b0c380df30bd for spec.

[2018-05-04 13:19] Podmev opened #148 "Bug with PatternParameter while parsing with parseCompilationUnit"
AssertError is thrown while parsing valid compiling code:
[code]
Stack trace:
[code]

[code]

[2018-09-09 17:32] lucaswerkmeister commented on #138
Unless I hear any objections, I think I’ll go with the easier route of only having one type of destructuring in `ceylon.ast.core`: the new syntax. `ceylon.ast.redhat` will probably map old-style destructuring to that, but it’ll be a lossy conversion.

[2018-09-09 19:26] jvasileff commented on #138
So you would be able to consume all valid Ceylon programs, but only represent and produce non-deprecated destructurings? That sounds like a reasonable compromise to me.

[2018-09-09 19:34] jvasileff commented on #138
In fact, that sounds quite nice for the use-cases I can think of. Anyone using `ceylon.ast` to read or analyze a program will have one less thing to worry about.

[2018-09-09 19:49] lucaswerkmeister commented on #138
Hm, then you won’t like to hear that I’m already starting to second-guess myself on this :D

Because it looks like in `ceylon.ast.core` this will be a new node type either way, called `LetStatement`, analogous to `LetExpression`, so from that standpoint perhaps I might as well leave `Destructure` around? But the conversion is likely to be the hairier part, and that will probably be simpler if `Des

[2018-09-09 20:26] jvasileff commented on #138
I'm not sure I have a horse in this race, but I think the important thing is that it should be possible to consume all valid Ceylon source files, one way or another.

[2018-09-10 07:08] luolong commented on #138
I am not sure, conversion should be the concern of `ceylon.ast`

[2018-09-16 15:10] lucaswerkmeister commented on #138
Hm, nevermind, the spec still calls it `Destructure`.

[2018-09-16 17:02] #138 closed

[2018-09-16 17:03] lucaswerkmeister commented on #138
The parser produces equivalent ASTs for both syntaxes anyways, so we get support for the old syntax almost for free.

[2018-09-18 21:02] lucaswerkmeister commented on #143
Fixed in e34a5d9eda161b98b557c127040b52f87001baf1 (I forgot that this issue existed when I committed that).

[2018-09-18 21:02] #143 closed

[2018-09-23 05:12] sadmac7000 commented on #140
I encountered this today. Could this be part of this issue?

[code]

[2018-09-23 08:15] lucaswerkmeister commented on #140
Likely, though I’m not sure why. I first thought perhaps the parser now leaves `types` and `baseMemberExpressions` empty, but my own tests, including parser tests, still pass…